html{font-size: 625%;}
/*  //////////   中控面板    ////////////  */
a:hover, a:focus{color: #F2FBFF;}
/*  icon   */
.icon-warning{display: inline-block;width: 0.18rem; height: 0.18rem;background: url(../../img/zkmb/warning.png) no-repeat;background-size: 100% 100%;}
.icon-stop{display: inline-block;width: 0.18rem; height: 0.18rem;background: url(../../img/zkmb/stop.png) no-repeat;background-size: 100% 100%;}
.icon-nswitch{display: inline-block;width: 0.18rem; height: 0.18rem;background: url(../../img/zkmb/arl.png) no-repeat;background-size: 100% 100%;}
.icon-switch{display: inline-block;width: 0.18rem; height: 0.18rem;background: url(../../img/zkmb/arm.png) no-repeat;background-size: 100% 100%;}
/*    icon    */
.btn-btn{display: inline-block;min-width: 1.2rem; height: 0.6rem;line-height: 0.6rem;text-align: center; background-color: #5D8AE5;border-radius: 0.08rem;font-size: 0.18rem; color: #fff;}
.btn-btn50{display: inline-block;margin-left: 0.2rem; min-width: 1.2rem; height: 0.5rem;line-height: 0.5rem;text-align: center; background-color: #5D8AE5;border-radius: 0.08rem;font-size: 0.18rem; color: #fff;}
.btn-btn50:first-child{margin-left: 0;}
.btn-btn50.yellow{background-color: #DD6000;}

.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}


.app-aside{}
.m-zkmb{padding: 0;}
.m-zkmb .app-content{margin: 0; height: auto;}
.m-zkmb .app-content-body{float: none;width: auto;padding: 0;}
.m-zkmb-main{position: absolute;height: auto;min-height: 100%;min-width: 1024px; width: 100%;font-family: "微软雅黑"; letter-spacing: 1px;background:url(../../img/zkmb/bg.jpg) repeat;background-size: 100% 100%;}
.m-zkmb-main .main{padding: 0.23rem;}
.m-zkmb-main .zkmb-header{position: fixed;z-index: 100; top:0;left: 0;width: 100%; height: 0.7rem; background:rgba(5,51,60,0.4);}
.m-zkmb-main .zkmb-header .zkmb-header-left{float: left;height: 0.7rem; line-height: 0.7rem; margin-left: 0.15rem;}
.m-zkmb-main .zkmb-header .zkmb-logo{display: inline-block;height: 0.40rem;line-height: 0.40rem; text-align: center; vertical-align: top; margin-top: 0.14rem;}
.m-zkmb-main .zkmb-header .zkmb-logo img{width: 0.4rem;height: 0.4rem;}
.m-zkmb-main .zkmb-header .zkmb-header-left .index{display: inline-block;margin-left: 0.1rem;min-width:1.5rem; max-width: 4.5rem;min-height: 0.7rem;}
.m-zkmb-main .zkmb-header .zkmb-header-left .index span{font-size: 0.24rem;opacity: 1; color:#fff;}
.m-zkmb-main .zkmb-header .zkmb-header-left .kqjz_top{min-width: 0.2rem;}
.m-zkmb-main .zkmb-header .inheader{display: inline-block; vertical-align: top;}
.m-zkmb-main .zkmb-header .inheader .back{padding: 0.05rem;height: 0.7rem; display: inline-block;vertical-align: top;}
.m-zkmb-main .zkmb-header .inheader i{
	width: 0.28rem; height: 0.28rem; vertical-align: top; margin-top: 0.16rem;margin-right: 0.05rem;
	background: rgba(253, 253, 253,0.1);
	border: 0px solid rgba(0,0,0,0.22);
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.50);
	border-radius: 3.83px 0px 0px 3.83px;
}
.m-zkmb-main .zkmb-header .inheader i:before{display: block; width: 0.26rem; height: 0.26rem; line-height: 0.26rem; text-align: center; font-size: 0.3rem; color: #fff;}
.m-zkmb-main .zkmb-header .inheader .span{display: inline-block;max-width: 4.25rem;}
.m-zkmb-main .zkmb-header .inheader .span span{opacity: 0.7;font-size: 0.16rem; color: #fff;}

.m-zkmb-main .zkmb-header .zkmb-header-right{float: right;}
.m-zkmb-main .zkmb-header .zkmb-header-right .avatar{float: left;}
.m-zkmb-main .zkmb-header .zkmb-header-right .avatar span{display: inline-block;margin-right: 0.03rem;font-size:0.16rem;color: #fff;}
.m-zkmb-main .zkmb-header .zkmb-header-right .avatar img{width: 0.4rem; height: 0.4rem;vertical-align: top;margin: 0 0.07rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-toggle{height: 0.5rem;line-height: 0.4rem;padding: 0.04rem;margin-top: 0.11rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-toggle .caret{float: left; margin-top: 0.18rem;margin-right: 0.05rem;color: #fff;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-toggle .lin{float: left;font-size: 0.12rem; display: inline-block;opacity: 0.7; margin-left: 0.1rem; color: #fff;}
.m-zkmb-main .zkmb-header .zkmb-header-right .hidden-xs a{height: 0.6rem; line-height: 0.38rem; color: #fff;}
.m-zkmb-main .zkmb-header .zkmb-header-right .nav{float: left; margin-right: 0.2rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right > .lin{display: inline-block; margin: 0 10px; line-height: 0.7rem; opacity: 0.7;font-size: 0.12rem; color: #fff;}
.m-zkmb-main .zkmb-header .nav .open > a,
.m-zkmb-main .zkmb-header .nav .open > a:hover,
.m-zkmb-main .zkmb-header .nav > li > a:hover,
.m-zkmb-main .zkmb-header .nav > li > a:focus,
.m-zkmb-main .zkmb-header .nav .open > a:focus{background-color: transparent;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu{ right: 0;top:0.64rem; left: auto; width: 3.9rem; height: 2.36rem;border-radius: 0.04rem; background-color: #fff;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu i.fa{position: absolute;width: 0;height:0;right: 0;top:0;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu i.fa:before{position: absolute;top:-0.1rem;left:-0.45rem; content: " "; width: 0; height: 0; border-left: 0.08rem solid transparent; border-right: 0.08rem solid transparent;  border-bottom: 0.1rem solid #fff;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-pic{float: left;padding-left: 0.29rem;padding-top: 0.2rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-pic a{display: block;width: 0.82rem; height: 0.82rem; border-radius: 50%;overflow: hidden;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-pic a img{width: 100%;height: 100%;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke{float: left;margin-left: 0.14rem;padding-top: 0.2rem;width: 2.2rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke h4{font-size: 0.18rem; color: #124266;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke p{line-height: 0.3rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke p span{display: inline-block; width: 138px; font-size: 0.12rem; color:#124266;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke p a.btn{float: right; width: 0.8rem; height: 0.3rem; background: #6C96FF;border: 0px solid #6C96FF;border-radius: 0.04rem;font-size: 0.12rem; color: #E0E0FD;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke ul{height: 0.75rem; overflow-y: auto;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke ul li{list-style: none;line-height: 0.24rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke ul li a{font-size: 0.12rem; color:#124266;}
.m-zkmb-main .zkmb-header .right-btn{float: left;line-height: 0.7rem;}
.m-zkmb-main .zkmb-header .right-btn a{width: 1rem; height: 0.5rem;line-height: 0.35rem; margin-left: 0.4rem;margin-right: 0.2rem; background: #45C853;border: 0px solid rgba(0,0,0,0.22);border-radius: 4px;font-size: 0.18rem;}
.m-zkmb-main .zkmb-header .right-btn a:first-child{margin-left: 0;margin-right: 0;}
.m-zkmb-main .zkmb-body{padding-top: 0.7rem;padding-bottom: 0.5rem;}
.m-zkmb-main .zkmb-body .body-main{padding: 0.23rem;padding-bottom: 0.1rem;padding-top: 0.15rem;}
.m-zkmb-title{margin: 0;height: 0.4rem; line-height: 0.4rem;padding-left: 0.18rem;opacity: 0.9; font-size: 0.22rem; color: #fff;}

.m-zkmb-check{float: left; width: 50%; height: 2.2rem;border-radius: 0.04rem;background: transparent;}
.m-zkmb-check .check-char{float: left;width: 2.8rem; text-align: center;}
.m-zkmb-check .check-left{display: inline-block; width: 1.1rem;}
.m-zkmb-check .check-left a{font-size: 0.2rem;color: #E0E0FD;}
.m-zkmb-check .check-left span{font-size: 0.12rem; color: #6E70A5;}
.m-zkmb-check .check-body{display: inline-block;}
.m-zkmb-check .check-body .chart{position: relative; width: 1.23rem; height: 1.23rem; margin-top: 0.3rem;}
.m-zkmb-check .check-body .chart .text{position: absolute;left: 0;top: 0.47rem;width: 100%; text-align: center;}
.m-zkmb-check .check-body .chart .text span{font-size: 0.2rem; color: #f86896;}
.m-zkmb-check .check-body .chart .text span span{font-size: 0.2rem; color: #fff;}
.m-zkmb-check .check-body .chart .text span span{font-size: 0.2rem; color: #fff;}
.m-zkmb-check .check-right{display: inline-block;width: 1.1rem;}
.m-zkmb-check .check-right a{font-size: 0.2rem;color: #E0E0FD;}
.m-zkmb-check .check-right span{font-size: 0.12rem; color: #6E70A5;}
.m-zkmb-check .check-btn{float: left; margin-top: 0.1rem;}
.m-zkmb-check .check-btn div{text-align: center;}
.m-zkmb-check .check-btn div .btn-btn{margin-top: 0.4rem;padding: 0;}
.m-zkmb-check .check-btn div .btn-btn:hover{color: #fff;}
.m-zkmb-check .check-btn div:first-child .btn-btn{margin-top: 0;}
.m-zkmb-check .check-btn div:last-child .btn-btn{background-color: #45C853;}

.m-zkmb-video{ height: 2.2rem; border-radius: 0.04rem;margin-left:0;margin-bottom: 0.0rem; background: transparent;border-left: solid 0.01rem rgba(255,255,255,0.1);}
.video-right{float: left; width: 50%;}
.m-zkmb-video .video{}
.m-zkmb-video .video-str{text-align: center;margin-top: 0.4rem;padding-right: 0;}
.m-zkmb-video .video-str div.btn{box-shadow: 0 0 0;}
.m-zkmb-video .video-str div{display: inline-block; margin-left: 0.15rem;}
.m-zkmb-video .video-str .str{position: relative; display: inline-block;width: 0.74rem; height: 0.74rem;border-radius: 50%; background-color: #6c96ff;}
.m-zkmb-video .video-str .str i.fa{}
.m-zkmb-video .video-str .str i.fa:before{position: absolute;left: 0.30rem;top: 0.22rem; content: " ";width: 0;
    height: 0;
    border-top: 0.16rem solid transparent;
    border-left: 0.21rem solid #fff;
    border-bottom: 0.16rem solid transparent;
}
.m-zkmb-video .video-str .str i.fa.stop:before{border: 0;width:0.2rem;height: 0.2rem;left: 0.27rem; top: 0.28rem; background-color: #fff;}
.m-zkmb-video .video-str a{}
.m-zkmb-video .video-str span{display:block;margin-top: 0.18rem;  font-size: 0.16rem;color: #fff;}
.m-zkmb-video .video-li{margin-top: 0.12rem; padding-left: 0.3rem;}
.m-zkmb-video .video-li div{line-height: 0.5rem;margin-right: 0.4rem;padding-left: 0.1rem; overflow: hidden; border-bottom: 1px solid rgba(255, 255, 255, .1);}
.m-zkmb-video .video-li div a,
.m-zkmb-video .video-li div span{display:block;float: left; width: 40%;font-size: 0.14rem;color: #E0E0FD;}
.m-zkmb-video .video-li div a{text-align: center;width: 60%;}

.m-zkmb-device{float: left; width: 100%;padding-top: 0.06rem; border-radius: 0.04rem;border-top: solid 0.01rem rgba(255,255,255,0.1); background:transparent;}
.m-zkmb-device .device-body{}
.m-zkmb-device .device-list{margin: 0 0.24rem; margin-top: 0.1rem;height: 2.45rem; overflow-y: auto;}
.m-zkmb-device .device-list li{float: left;list-style: none; width: 1.6rem; height: 1.06rem;border-radius: 0.02rem;}
.m-zkmb-device .device-list li{margin: 0 0.13rem;margin-bottom: 0.15rem;}
.m-zkmb-device .device-list li .tis{height: 0.8rem;position: relative;}
.m-zkmb-device .device-list li .tis > div{position: relative;float: left; z-index: 1; margin-left: 0.05rem;margin-top: 0.03rem;}
.m-zkmb-device .device-list li .tis i{display: block;margin-bottom: 0.03rem; width: 0.18rem; height: 0.18rem;}
.m-zkmb-device .device-list li .tis a{}
.m-zkmb-device .device-list li.false{background-color: #7094B3;}
.m-zkmb-device .device-list li.false .tis .por img.dev-on{display: none;}
.m-zkmb-device .device-list li.false .tis .por img.dev-off{display: block;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.m-zkmb-device .device-list li.false{background-color: #7094B3;}
.m-zkmb-device .device-list li.true{background-color: #7EC0A2;}
.m-zkmb-device .device-list li.true .tis .por img.dev-on{display: block;}
.m-zkmb-device .device-list li.true .tis .por img.dev-off{display: none;}
.m-zkmb-device .device-list .tis .por{width: 0.8rem; height: 0.8rem;position: absolute;left:0.4rem;top:0;} 
.m-zkmb-device .device-list .tis .por img{width: 100%;height: 100%;}
.m-zkmb-device .device-list .tis .por img.dev-on{display: block;}
.m-zkmb-device .device-list .tis .por img.dev-off{display: none;}
.m-zkmb-device .device-list li p{margin: 0; text-align: center;height: 0.25rem; line-height: 0.24rem;background-color: rgba(217, 238, 245,0.2);vertical-align: top; font-size: 0.14rem;color: #fff;}
.m-zkmb-device .device-btn{ text-align: center;}
.m-zkmb-device .device-btn a{display: inline-block;background-color:#DD6000;margin-left: 0.4rem;padding: 0;}
.m-zkmb-device .device-btn a:hover{color: #fff;}
.m-zkmb-device .device-btn a:first-child{background-color: #45C853; margin-left: 0;}
.m-zkmb-device .device-tis{float: left;vertical-align: top;margin: -0.2rem 0 0 0rem; text-align:left;}
.m-zkmb-device .device-tis span{display: inline-block;margin-right: 0.05rem; font-size: 0.14rem; color: #E0E0FD; line-height:26px;}
.m-zkmb-device .device-tis span i{width: 0.16rem; height: 0.16rem;vertical-align: sub; margin-right: 0.03rem;}
.m-zkmb-device .device-tis span b{display: inline-block;width: 0.2rem; height: 0.16rem;vertical-align: sub;margin-right: 0.03rem; background-color: #7094B3;}
.m-zkmb-device .device-tis span b.blue{background-color: #7EC0A2;}

.m-zkmb-main .zkmb-footer{position: fixed;z-index: 100; bottom:0;left: 0;width: 100%; height: 0.5rem;line-height: 0.5rem; background:rgba(27, 87, 127,0.5);}
.m-zkmb-main .zkmb-footer .footer-left{float: left;margin-left: 0.2rem;}
.m-zkmb-main .zkmb-footer .footer-left span{display: inline-block;margin-right: 0.2rem; font-size: 0.18rem; opacity: 0.7; color: #fff;}
.m-zkmb-main .zkmb-footer .footer-right{float: right; margin-right: 0.2rem;}
.m-zkmb-main .zkmb-footer .footer-right span{font-size: 0.18rem; opacity: 0.7; color: #fff;}
@media (max-width: 767px){
	.app{
	    overflow-x: auto;
	}
}
/*    ////////考勤纠正////////  */
.icon-act{display: inline-block;width: 0.24rem; height: 0.24rem;background: url(../../img/zkmb/icon-act.png) no-repeat; background-size: 100%;}
.icon-actok{display: inline-block;width: 0.24rem; height: 0.24rem;background: url(../../img/zkmb/icon-actok.png) no-repeat; background-size: 100%;}

.m-kqjz{ background-color:rgba(255,255,255,0.2); border-radius: 0.04rem;}
.m-kqjz .kqjz-main{position: relative;padding-bottom: 0.2rem; height: 5.85rem; overflow-y: auto;}
.m-kqjz .kqjz-header{height: 0.4rem;line-height: 0.4rem;border-radius: 0.04rem; padding-left: 0.25rem;padding-right: 0.4rem; background-color:rgba(255,255,255,0.2);}
.m-kqjz .kqjz-header span{float: left; font-size: 0.12rem; color:#E0E0FD;}
.m-kqjz .kqjz-header div{float: right;}
.m-kqjz .kqjz-header div a{display: block;float: left;padding: 0 0.1rem;}
.m-kqjz .kqjz-header div i{padding: 0.05rem; width: 0.21rem; height: 0.21rem; font-size: 0.20rem; color: #fff;}
.m-kqjz .kqjz-header div i.icon-refresh{display: inline-block;vertical-align: top; margin-top: 0.09rem; padding: 0;}
.m-kqjz .kqjz-header div i.glyphicon{font-size: 0.17rem; padding: 0;vertical-align: top; margin-top: 0.1rem;}
.m-kqjz .kqjz-header div a:first-child{}

.m-kqjz .kqjz-list .click-btn{position: absolute;display: block; left: 0.8rem;top: 0.3rem;z-index: 1; width: 1.1rem; height: 0.6rem; background: #FFFFFF;box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);border-radius: 0.05rem;}
.m-kqjz .kqjz-list .click-btn.block{display: block;}
.m-kqjz .kqjz-list .click-btn.none{display:none;}
.m-kqjz .kqjz-list .click-btn i{float: left; position: relative;left: -0.06rem; top: -0.37rem;}
.m-kqjz .kqjz-list .click-btn i:before{content: " "; position: absolute;left: 0;top:0;
		width: 0;
    height: 0;
    border-top: 0.07rem solid transparent;
    border-right: 0.07rem solid #fff;
    border-bottom: 0.07rem solid transparent;}
.m-kqjz .kqjz-list .click-btn a{display:block;margin: 0;padding: 0; text-align: center;height: 0.3rem;width: 100%;border-radius: 0; line-height: 0.3rem;font-size: 0.14rem; color: #818181; border-bottom-left-radius:0.05rem;border-bottom-right-radius:0.05rem;}
.m-kqjz .kqjz-list .click-btn a:first-child{border-bottom:solid 1px #f1f1f1;border-radius: 0; border-top-left-radius:0.05rem;border-top-right-radius:0.05rem;}
.m-kqjz .kqjz-list .click-btn a:hover{background-color: #E4E4E4;}

.m-kqjz .kqjz-list{margin: 0 0.25rem;margin-bottom: 0;}
.m-kqjz .kqjz-list li{position: relative; float: left;width:1.52rem; height: 1.6rem;margin: 0.3rem 0.15rem;margin-bottom: 0;  border: 1px solid rgba(216, 216, 216,0.5);}
.m-kqjz .kqjz-list li a{display: block;margin-left: 0.2rem; margin-top: 0.08rem; width: 1.1rem; height: 1.1rem; border-radius: 50%; overflow: hidden;}
.m-kqjz .kqjz-list li p{margin-bottom: 0;height: 0.4rem; line-height: 0.4rem; text-align: center; font-size: 0.16rem; color:#fff;}
.m-kqjz .kqjz-list li a img{width: 100%; height: 100%;}
.m-kqjz .kqjz-list li i{display: block;position: absolute;right: 0.1rem;bottom: 0.22rem; }

.m-kqjz .kqjz-page{text-align: center;}
.m-kqjz .pagination{}
.m-kqjz .pagination > .disabled > span, 
.m-kqjz .pagination > .disabled > span:hover, 
.m-kqjz .pagination > .disabled > span:focus, 
.m-kqjz .pagination > .disabled > a,
.m-kqjz .pagination > .disabled > a:hover, 
.m-kqjz .pagination > .disabled > a:focus{
		color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.m-kqjz .pagination > li > a, 
.m-kqjz .pagination > li > span {
	width: 0.28rem;
	height: 0.28rem;
	border-radius: 50%;
    position: relative;
    float: left;
    padding: 0.05rem 0.06rem;
    margin-left: 0.1rem;
    line-height: 0.18rem;
    color: #fff;
    text-decoration: none;
    background-color: #39395E;
    border:0;
}
.m-kqjz .pagination > .active > a, 
.m-kqjz .pagination > .active > span, 
.m-kqjz .pagination > .active > a:hover, 
.m-kqjz .pagination > .active > span:hover, 
.m-kqjz .pagination > .active > a:focus, 
.m-kqjz .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: transparent;
    border-color: #428bca;
}


/*   出勤统计      */

.m-kqtj{}
.m-kqtj .body-header li:nth-child(1),
.m-kqtj .table-header li:nth-child(1){width: 25%;}
.m-kqtj .body-header li:nth-child(2),
.m-kqtj .table-header li:nth-child(2){width: 13%; text-align: center;}
.m-kqtj .body-header li:nth-child(3),
.m-kqtj .table-header li:nth-child(3){width: 13%; text-align: center;}
.m-kqtj .body-header li:nth-child(4),
.m-kqtj .table-header li:nth-child(4){width: 9%; text-align: center;}
.m-kqtj .body-header li:nth-child(5),
.m-kqtj .table-header li:nth-child(5){width: 8%; text-align: center;}
.m-kqtj .body-header li:nth-child(6),
.m-kqtj .table-header li:nth-child(6){width: 8%; text-align: center;}
.m-kqtj .body-header li:nth-child(7),
.m-kqtj .table-header li:nth-child(7){width: 10%; text-align: center;}
.m-kqtj .body-header li:nth-child(8),
.m-kqtj .table-header li:nth-child(8){width: 14%; text-align: center;}

.m-kqtj .kqtj-list{margin: 0.2rem;border: solid 0.01rem #c5c5c5; }
.m-kqtj .kqtj-list li.active .body-header .xhgl-tree i.fa.leaf:before{content: "\f068";}
.m-kqtj .kqtj-list li.active .body-header .xhgl-tree i.fa.leaf.bole:before{content: " ";}
.m-kqtj .xhgl-table .body-header,
.m-kqtj .xhgl-table .table-header{border-bottom: solid 0.01rem #c5c5c5;}
.m-kqtj .kqtj-list .table-header{background-color: rgba(255,255,255,0.2);}
.m-kqtj .kqtj-list .table-header li{line-height: 0.36rem;}
.m-kqtj .kqtj-list .table-header li span{font-weight: normal; font-size: 0.14rem; color: #E0E0FD;}
.m-kqtj .kqtj-list .table-body .bg-color{background-color: transparent;}
.m-kqtj .body-header li:nth-child(1){
	white-space: nowrap;overflow: hidden; text-overflow: ellipsis;
}
.m-kqtj .kqtj-list .body-header li span,
.m-kqtj .kqtj-list .body-header li a,
.m-kqtj .kqtj-list .body-header li{line-height: 0.36rem; font-size: 0.14rem;color: #fff;}

.m-kqtj .xhgl-tree em{width: 0;}

/*    详情    */
.m-kqtj-modal.m-kqjz .kqjz-list{max-height: 5.4rem; overflow-y: auto;}
.m-kqtj-modal.m-kqjz .kqjz-header div i.icon-close{margin-top: 0.05rem;}
.m-kqtj-modal.m-kqjz .kqjz-header{overflow: hidden;padding-right: 0.1rem;}
.m-kqtj-modal.m-kqjz .kqjz-header div{padding-top: 0.03rem;}

.m-modal-kqjz .modal-content{background-color: #246285;}
.m-modal-kqjz .modal-content .kqjz-main{height: 4.5rem;}
.m-modal-kqjz .modal-content .m-kqjz .kqjz-list{overflow-y: hidden;height: auto;max-height: none;}

/*    换课    */
.m-huanke{}
.m-huanke.m-kqjz .huanke-main{height: 3rem;}
.m-huanke .huanke-list{width: 4.5rem; margin: 0 auto;padding-top: 0.3rem;}
.m-huanke .huanke-list > li{list-style: none;overflow: hidden;margin: 0.2rem 0;}
.m-huanke .huanke-list > li > span{display: block;float: left;width: 1rem; height: 0.36rem; line-height: 0.36rem; font-size:0.14rem;color: #fff;}
.m-huanke .huanke-list .ban{float: left;width: 3.5rem;}
.m-huanke .huanke-list .ban select{}
.m-huanke .huanke-btn{text-align: center;margin-top: 0.5rem;}
.m-huanke .huanke-btn a{width: 1rem;}
.m-huanke .huanke-btn a:last-child{margin-right: 0;}

/*   设备控制    */
.m-zkmb-sbkz{}
.m-zkmb-device1{background-color:rgba(217, 238, 245,0.2);min-height: 6.15rem;border-radius: 0.04rem; overflow: hidden;}
.m-zkmb-device1-title{height: 0.3rem; line-height: 0.3rem;margin: 0;text-align: center;    background-color: rgba(217, 238, 245,0.2);font-size: 0.14rem; color: #E0E0FD; }
.m-zkmb-device1 .device-main{padding: 0.1rem 0.3rem;}
.m-kongtiao{position: relative;}
.m-kongtiao .kt-icon{position: absolute;left: 0;top:0;}
.m-kongtiao .kt-icon i{display: block;margin-bottom: 0.05rem;}
.m-kongtiao .device-pic{text-align: center; height: 1.8rem; line-height: 1.8rem;}
.m-kongtiao .device-pic img{max-height: 100%;max-width: 100%;}
.m-kongtiao.true .device-pic img{
	-webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}
.m-kongtiao.false .device-pic img{
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.m-kongtiao .device-btn{text-align: center;margin-top: 0.2rem; padding-bottom: 0.2rem;}
.m-kongtiao .device-btn a{}
.m-kongtiao .zkmb-kongtiao{padding-top: 0.4rem;border-top:solid 2px #ccc;}
.m-kongtiao .zkmb-kongtiao table{width: 100%;}
.m-kongtiao .zkmb-kongtiao table tr{}
.m-kongtiao .zkmb-kongtiao table tr td{border:solid 0.01rem #c5c5c5; height: 0.6rem; font-size: 0.16rem; color: #fff;}
.m-kongtiao .zkmb-kongtiao table tr:nth-child(2n) td{background-color:rgba(255,255,255,0.1);}
.m-kongtiao .zkmb-kongtiao table tr td:first-child{width: 0.9rem;text-align: center;}
.m-kongtiao .zkmb-kongtiao .kongtiao-wd{text-align: center;}
.m-kongtiao .zkmb-kongtiao .kongtiao-wd i{display: inline-block; cursor: pointer;vertical-align: top; margin-top:0.09rem; width: 0.28rem;height: 0.28rem;text-align: center; border-radius: 50%; line-height: 0.17rem;font-style: normal; background-color: #626098; font-size: 0.6rem; color: #fff;}
.m-kongtiao .zkmb-kongtiao .kongtiao-wd i.added{font-size: 0.34rem;line-height: 0.22rem;}
.m-kongtiao .zkmb-kongtiao .kongtiao-wd span{display: inline-block; width: 1rem;text-align: center; font-size: 0.3rem; color: #fff;}
.m-kongtiao .zkmb-kongtiao .kongtiao-ms{}
.m-kongtiao .zkmb-kongtiao .kongtiao-ms a{float: left;display: block;cursor: pointer; padding-top: 0.13rem; text-align: center; width: 20%; height: 0.6rem;overflow: hidden; border-right:0.01rem solid #c5c5c5;}
.m-kongtiao .zkmb-kongtiao .kongtiao-ms a:last-child{border-right: 0;}
.m-kongtiao .zkmb-kongtiao .kongtiao-ms a img{width: 0.24rem; height: 0.24rem;}
.m-kongtiao .zkmb-kongtiao .kongtiao-ms a span{display: block;text-align: center;line-height: 0.2rem; font-size: 0.12rem;color: #fff;}
.m-kongtiao .zkmb-kongtiao .kongtiao-fs{}
.m-kongtiao .zkmb-kongtiao .kongtiao-fs a{display: block;float: left; width: 25%;height: 0.6rem; text-align: center; line-height: 0.6rem;border-right: solid 0.01rem #848484; font-size: 0.12rem;color: #fff;}
.m-kongtiao .zkmb-kongtiao .kongtiao-fs a:last-child{border-right: 0;}
.m-kongtiao .zkmb-kongtiao .kongtiao-fx{}
.m-kongtiao .zkmb-kongtiao .kongtiao-fx a{display: block;float: left;width: 50%;height: 0.6rem;line-height: 0.6rem;text-align: center;border-right: solid 0.01rem #848484; font-size: 0.12rem; color: #fff;}
.m-kongtiao .zkmb-kongtiao .kongtiao-fx a:last-child{border-right: 0;}

.m-kongtiao .zkmb-kongtiao .kongtiao-fs a.false span,
.m-kongtiao .zkmb-kongtiao .kongtiao-ms a.false span,
.m-kongtiao .zkmb-kongtiao .kongtiao-fx a.false span{}

.m-kongtiao .zkmb-kongtiao .kongtiao-fs a.true,
.m-kongtiao .zkmb-kongtiao .kongtiao-ms a.true,
.m-kongtiao .zkmb-kongtiao .kongtiao-fx a.true,
.m-kongtiao .zkmb-kongtiao .kongtiao-fs a.true span,
.m-kongtiao .zkmb-kongtiao .kongtiao-ms a.true span,
.m-kongtiao .zkmb-kongtiao .kongtiao-fx a.true span{color: #D89D37;font-weight: bold;}


.m-zkmb-device-det{background-color:rgba(217, 238, 245,0.2);min-height: 6.15rem;border-radius: 0.04rem; overflow: hidden;}
.m-zkmb-device-det .det-nav{overflow: hidden;background-color:rgba(217, 238, 245,0.2);}
.m-zkmb-device-det .det-nav li{float: left;width: 20%;list-style: none;display: none;}
.m-zkmb-device-det .det-nav li:first-child{display: block;}
.m-zkmb-device-det .det-nav li a{display: block; height: 0.4rem;line-height: 0.4rem; text-align: center; background-color: #323150;font-size: 0.14rem; color: #fff;}
.m-zkmb-device-det .det-nav li a.active{background-color:rgba(217, 238, 245,0.2);}
.m-zkmb-device-det .det-body{}
.m-zkmb-device-det .det-body .active{display: block;}
.m-zkmb-device-det .det-main{display: none;}
.m-zkmb-device-det .det-main .status-table{padding: 0.2rem; overflow-y: auto;max-height: 5.7rem;}
.m-zkmb-device-det .det-main .status-table table{width: 100%;}
.m-zkmb-device-det .det-main .status-table table tr{line-height: 0.36rem;}
.m-zkmb-device-det .det-main .status-table table tr th{padding-left: 0.2rem; border: solid 0.01rem #c5c5c5;background-color:rgba(217, 238, 245,0.2);font-size: 0.14rem;color: #e4e4e4;}
.m-zkmb-device-det .det-main .status-table table tr td{padding-left: 0.2rem;border: solid 0.01rem #c5c5c5; font-size: 0.14rem;color:#fff;}
.m-zkmb-device-det .det-main .status-table table tbody tr td a,
.m-zkmb-device-det .det-main .status-table table tbody tr td span{display: inline-block;margin: 0 0.05rem; vertical-align: middle;}
.m-zkmb-device-det .det-main .status-table .add-btn{margin-bottom: 0.1rem;}
.m-zkmb-device-det .det-main .status-table .add-btn a{margin-right: 0; width: 0.9rem;}


/*  弹窗   */
.m-zkmb-modal .modal-dialog{width: 4rem;margin-top: 20%;}
.m-zkmb-modal .m-kqjz{width: 100%;height: 1.9rem;background: url(../../img/zkmb/bg.jpg) center center no-repeat;}
.m-zkmb-modal .huanke-btn a.btn-btn{margin-left: 0.2rem;padding: 0; height: 0.5rem;line-height: 0.5rem;}
.m-zkmb-modal .huanke-btn a:first-child{margin-left: 0;}
.m-zkmb-modal .huanke-btn a:hover{color: #fff;}
.m-zkmb-modal .kqjz-header span{font-size: 0.16rem;}
.m-zkmb-modal .huanke-btn a:last-child{background-color: #DD6000;}
/*.m-zkmb-modal .m-kqjz:first-child{margin-left: 0;margin-left: 0.2rem; height: 0.5rem;line-height: 0.5rem;}*/


/*   block UI   */
.model_blockui{}
.blockMsg{border-radius: 0.04rem;}
/*  alert   */
.alert_bar{position: absolute;z-index: 1000;bottom: 0.6rem;width:100%;text-align: center;}
.alert_bar .alert{display: inline-block; background: rgba(27, 87, 127,0.8);border:solid 0.01rem rgba(255,255,255,0.3);margin-bottom: 0;}
.alert_bar .alert-body{display: inline-block;min-width: 1rem; text-align: center; vertical-align: middle;margin-right: 0.2rem;line-height: 0.24rem;opacity: 0.7; font-size: 0.16rem;color: #fff;}


/*    安卓平板 16：9     */
.m-zkmb-check .check-body .chart{margin-top: 0.05rem;}
.m-zkmb-check .check-btn{margin-top: 0.05rem;}
.m-zkmb-check .check-btn div .btn-btn{margin-top: 0.1rem;}
.m-zkmb-video .video-str{margin-top: 0.1rem;}
.m-zkmb-video .video-li{margin-top: 0.05rem;}
.m-zkmb-video .video-li div{line-height: 0.4rem;}
.m-zkmb-video{height: 1.9rem;}
.m-zkmb-check{height: 1.9rem;}
.m-zkmb-main .zkmb-body .body-main{padding-top: 0.08rem;}
.m-zkmb-device{padding-top: 0;}
.m-zkmb-device .device-list li{margin-bottom: 0.08rem;}
.m-zkmb-device .device-list{height: 2.3rem;}



/*  --------------     智慧教室设备管理系统    修改 开始    ------------------*/
.m-zkmb-device{border-top: 0;}
.m-zkmb-device .device-list{height: 4rem;}
.m-zkmb-device .device-tis,
.m-zkmb-device .device-btn{position:fixed;bottom: 0.7rem;left: 0; width: 100%;}
.m-zkmb-device .device-tis{left: 0.1rem;}

/*   设置   */
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke{position: relative;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke .option{position: absolute;right: -0.2rem;top: 0.2rem;}
.m-zkmb-main .zkmb-header .zkmb-header-right .dropdown-menu .user-ke .option a.btn{}
/*  设置-弹窗   */
.m-modal-option{}
.m-modal-option .m-modal-classroom{ background: url(../../img/zkmb/bg.jpg) center center no-repeat;}
.m-modal-option .m-modal-classroom-body table tr th, .m-modal-option .m-modal-classroom-body table tr td{background-color: transparent;}
.m-modal-option .m-modal-classroom-body .modal-select{background-color: #2a718f;color: #FFF;}
/*   设置  end   */

/*   教学设备   加大版    */
.m-zkmb-device .device-list li {width: 2rem; height: 1.5rem;margin-bottom: 0.2rem;}
.m-zkmb-device .device-list li .tis {height: 1.2rem;}
.m-zkmb-device .device-list li .tis > div {margin-left: 0.1rem;margin-top: 0.1rem;}
.m-zkmb-device .device-list .tis .por {
    width: 60%;
    height: auto;
    left: 20%;
}
.m-zkmb-device .device-list li p { height: 0.3rem; line-height: 0.3rem;}
/*  --------------     智慧教室设备管理系统    修改 结束    ------------------*/



/*  //////////   中控面板 End  ////////////  */