
/*  出勤统计     */
/*  in index  */
/*  历史出勤     */
.m-cqgl-lscq{margin-top: 23px;background-color:rgba(217,238,245,0.2);}
.m-cqgl-lscq-h{min-height: 42px; background-color:rgba(217,238,245,0.2);padding: 6px 0 0 0;}
.m-cqgl-lscq-h .title{display: inline-block;margin-left: 15px; line-height: 30px; font-size: 16px;color: #fff;}
.m-cqgl-lscq-h .sbrz-filter{float: right;margin-right: 20px;text-align: right;}
.m-cqgl-lscq-h .sbrz-filter > div{display: inline-block; vertical-align: top;margin-left: 20px;margin-bottom: 6px; }
.m-cqgl-lscq-h .sbrz-filter .filter-date{}
.m-cqgl-lscq-h .sbrz-filter .filter-date > span{float: left; display: inline-block;line-height: 30px;font-size: 14px;color: #fff;}
.m-cqgl-lscq-h .sbrz-filter .filter-date .ckb-intime{float: left;margin-left: 10px;}
.m-cqgl-lscq-h .sbrz-filter .filter-date .ckb-intime input{height: 30px; line-height: 30px;width: 170px;border: 0;border-radius: 0;outline: 0;box-shadow: 0 0 0;background-color:rgba(217,238,245,0.2);font-size: 14px; color: #fff;}
.m-cqgl-lscq-h .sbrz-filter .filter-date .ckb-intime span{color: #fff;height: 30px; line-height: 30px;}
.m-cqgl-lscq-h .sbrz-filter .filter-key{}
.m-cqgl-lscq-h .sbrz-filter .filter-key input{padding: 0 10px; height: 30px; line-height: 30px;width: 170px;border: 0;outline: 0;border-radius: 0;box-shadow: 0 0 0;background-color:rgba(217,238,245,0.2);font-size: 14px; color: #fff;}
.m-cqgl-lscq-h .sbrz-filter .filter-select{}
.m-cqgl-lscq-h .sbrz-filter .filter-select select{display: block;border: 0;height: 30px; line-height: 30px;padding: 0 10px; outline: 0;box-shadow: 0 0 0; background-color: #84a5c9;font-size: 14px; color: #fff;}
.m-cqgl-lscq-h .sbrz-filter .filter-btn{}
.m-cqgl-lscq-h .sbrz-filter .filter-btn a{display: block;width: 78px;height: 30px;line-height: 30px;text-align: center;border-radius: 5px;background-color: #30B597;font-size: 16px;color: #fff;}

.m-sbgl-sbrz-table{padding:30px 15px;padding-bottom: 0; min-height: 600px;}
.m-sbgl-sbrz-table table{width: 100%;}
.m-sbgl-sbrz-table table tr{}
.m-sbgl-sbrz-table table tr th{text-align: center; background-color:rgba(217,238,245,0.2); border: solid 1px #fff; height: 36px;font-weight: normal; font-size: 14px; color: #fff;}
.m-sbgl-sbrz-table table tr td{text-align: center; border: solid 1px rgba(255,255,255,0.6); height: 36px;font-size: 14px; color: #fff;}



/*    icon    */
/*  出勤管理-实时出勤-出勤查看    */
.icon-act{display: inline-block;width: 24px; height: 24px;background: url(../../../zkmb/img/zkmb/icon-act.png) no-repeat; background-size: 100%;}
.icon-actok{display: inline-block;width: 24px; height: 24px;background: url(../../../zkmb/img/zkmb/icon-actok.png) no-repeat; background-size: 100%;}

/*  实时出勤    */
.m-cqgl-sscq .m-sbjk-room-one .media .media-body ul li.null{background: #E3E3E3;}
.m-cqgl-sscq .m-sbjk-room-one .media .media-body ul li.null a{cursor: default;}
.m-cqgl-sscq .m-sbjk-room-one .media .media-body ul li.it50{background: #f17373;}
.m-cqgl-sscq .m-sbjk-room-one .media .media-body ul li.in50-80{background: #ecd876;}
.m-cqgl-sscq .m-sbjk-room-one .media .media-body ul li.gt80{background: #69e688;}

/*   实时出勤-查看    */
.m-cqgl-sscq-details-se{margin-top: 20px;text-align: right;}
.m-cqgl-sscq-details-se .txt{display: inline-block; color: #fff;}
.m-cqgl-sscq-details-se .txt2{display: inline-block; color: #fff;margin-left: 8px;}
.m-cqgl-sscq-details-se .inp{display: inline-block;margin-left: 8px;}
.m-cqgl-sscq-details-se .inp input{cursor: pointer;min-width: 160px;}
.m-cqgl-sscq-details-se .btn{display: inline-block;margin-left: 8px;vertical-align: top;}


.m-cqgl-sscq-details{}
.m-cqgl-sscq-details .details-table{}
.m-cqgl-sscq-details .details-table table{ width: 100%;border: solid 1px rgba(255,255,255,0.2);}
.m-cqgl-sscq-details .details-table table tr{}
.m-cqgl-sscq-details .details-table table tr td{height: 90px;border: solid 1px rgba(255,255,255,0.2);width: 20%; text-align: center;font-size: 14px; color: #fff;}
.m-cqgl-sscq-details.two{padding-bottom: 30px;}

.m-details-user .click-btn{position: absolute;display: block; left: 80px;top: 30px;z-index: 1; width: 110px; height: 60px; background: #FFFFFF;box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);border-radius: 5px;}
.m-details-user .click-btn.block{display: block;}
.m-details-user .click-btn.none{display:none;}
.m-details-user .click-btn i{float: left; position: relative;left: -6px; top: -37px;}
.m-details-user .click-btn i:before{content: " "; position: absolute;left: 0;top:0;
		width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 7px solid transparent;}
.m-details-user .click-btn a{display:block;margin: 0;padding: 0; text-align: center;height: 30px;width: 100%;border-radius: 0; line-height: 30px;font-size: 14px; color: #818181; border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.m-details-user .click-btn a:first-child{border-bottom:solid 1px #f1f1f1;border-radius: 0; border-top-left-radius:5px;border-top-right-radius:5px;}
.m-details-user .click-btn a:hover{background-color: #E4E4E4;}

.m-details-user{margin: 0 34px;margin-bottom: 0;}
.m-details-user li{position: relative; float: left;width:112px; height: 115px;margin: 30px 15px;margin-bottom: 0;  border: 1px solid rgba(216, 216, 216,0.5);}
.m-details-user li a{display: block;margin-left: 20px; margin-top: 8px; width: 70px; height: 70px; border-radius: 50%; overflow: hidden; cursor: default;}
.m-details-user li p{margin-bottom: 0;height: 40px; line-height: 40px; text-align: center; font-size: 16px; color:#fff;}
.m-details-user li a img{width: 100%; height: 100%;}
.m-details-user li i{display: block;position: absolute;right: 10px;bottom: 22px; }




input::-webkit-input-placeholder {
color: #fff !important;
}
input:-moz-placeholder {
color: #fff !important;
}
input::-moz-placeholder {
color: #fff !important;
}
input:-ms-input-placeholder {
color: #fff !important;
}