<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg">
			<div class="panel panel-default">
				<div class="panel-heading">
					节点列表
					<div class="table-h-btn pull-right">
						<button tabindex="2" class="btn b-w-rs w-xs btn-info pull-left" ng-click="openModalAddJd('add')">添加</button>
					</div>
					<div class="table-h-search pull-right col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="form.KeyWord" ng-keyup="sbgzKeyup($event)" title="输入节点名称、节点编号或节点型号查询" placeholder="输入节点名称、节点编号或节点型号查询">
							<span class="input-group-btn">
                  			<button class="btn btn-sm btn-default" type="button" ng-click="searchPost()" submit-timeout>
                    			<i class="fa fa-search"></i>
                			</button>
				       		</span>
						</div>
					</div>
					<div class="table-h-cheks pull-right">
						<label class="form-input i-checks"><input style="width: auto;" type="checkbox" name="post[]" ng-model="form.IsNoSaveBol"><i class="fa fa-check"></i>未安装</label>
					</div>
					<div class="table-h-selct pull-right col-sm-2">
						<div class="form-select">
							<ui-select ng-model="form.jdxhItem" theme="bootstrap" ng-change="changeItem(form.jdxhItem)">
								<ui-select-match placeholder="选择节点型号">{{$select.selected.Name}}</ui-select-match>
								<ui-select-choices repeat="item in jdxhItems | filter: $select.search">
									<div ng-bind-html="item.Name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="table-h-location pull-right location  col-sm-2">
						<input type="text" class="form-control" ng-model="form.addHtml" readonly="readonly" placeholder="安装位置" ng-click="modalOpenClassroom()" />
					</div>
				</div>
				<div>
					<table class="table m-b-none" ui-jq="footable" data-sorting="false" data-stop-propagation="false" data-paging="false">
						<thead>
							<tr>
								<th width="30"></th>
								<th data-toggle="true">节点名称</th>
								<th data-hide="phone,tablet">节点编号</th>
								<th>节点型号</th>
								<th data-hide="phone,tablet">安装位置</th>
								<th data-hide="phone,tablet">IP类型</th>
								<th>Coap端口</th>
								<th>路由IP</th>
								<th>路由映射端口</th>
								<th data-hide="phone,tablet">最新上报数据时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in jdItems">
								<td>{{$index + 1 + (backPage.PageIndex - 1) * backPage.PageSize}}</td>
								<td>{{item.Name}}</td>
								<td>{{item.Id}}</td>
								<td><span class="label bg-info">{{item.NodeModelName}}</span></td>
								<td>{{item.Campusname + '-' + item.Buildingname + '-' + item.Classroomsname}}</td>
								<td>{{item.IpType}}</td>
								<td>{{item.NodeCoapPort}}</td>
								<td>{{item.RouteIp}}</td>
								<td>{{item.InRouteMappingPort}}</td>
								<td>{{item.UploadTime}}</td>
								<td>
									<div class="btn-group dropdown" dropdown="">
										<button class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a ng-click="openModalAddJd('look',item)">查看</a>
											</li>
											<li>
												<a ng-click="openModalAddJd('edit',item)">修改</a>
											</li>
											<li>
												<a ng-click="deleteItem(item)">删除</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr ng-if="jdItems.length < 1" class='ta-c'>
								<td class="text-center" colspan="30">无数据</td>
							</tr>
						</tbody>
						<tfoot class="">
							<tr>
								<td colspan="30" class="text-center">
									<!--分页-->
									<div class="text-center" foo-pagination></div>
								</td>
							</tr>
						</tfoot>
					</table>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
