<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span ng-if="items.operate == ''">控制命令添加</span>
		<span ng-if="items.operate == 'edit'">控制命令修改</span>
		<span ng-if="items.operate == 'see'">控制命令查看</span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
		<div class="m-modal-content">
      <p class="title">基本信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>代码</span>
        <input class="form-control" type="text" ng-model="form.CmdCode" ng-readonly="items.operate == 'see'" placeholder="输入代码"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>名称</span>
        <input class="form-control" type="text" ng-model="form.CmdName" ng-readonly="items.operate == 'see'" placeholder="输入名称"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>描述</span>
        <textarea class="form-control" rows="2" ng-model="form.CmdDescription" ng-readonly="items.operate == 'see'" placeholder="输入描述"></textarea>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>节点型号</span>
        <div class="form-select">
          <ui-select  ng-model="form.jdxhItem" ng-disabled="items.operate=='see'?true:false" theme="bootstrap" ng-change="changeModelItem(form.jdxhItem)">
            <ui-select-match placeholder="选择节点型号">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="item in jdxhItems | filter: $select.search">
              <div ng-bind-html="item.Name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
		</div>
    <div class="m-modal-content">
      <p class="title">参数信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>请求URI</span>
        <input class="form-control" type="text" ng-model="form.RequestURI" ng-readonly="items.operate == 'see'" placeholder="输入请求URI"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>URL查询</span>
        <input class="form-control" type="text" ng-model="form.URIQuery" ng-readonly="items.operate == 'see'" placeholder="输入URL查询"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>请求类型</span>
        <input class="form-control" type="text" ng-model="form.RequestType" ng-readonly="items.operate == 'see'" placeholder="输入请求类型"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>负载</span>
        <input class="form-control" type="text" ng-model="form.Payload" ng-readonly="items.operate == 'see'" placeholder="输入负载"/>
      </div>
    </div>
	</div>
  <div class="g-modal-footer" ng-if="items.operate != 'see'">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
  </div>
</div>
