<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span ng-if="operation == 'details'">课程信息</span>
					<span ng-if="operation == 'add'">课程信息</span>
					<span ng-if="operation == 'edit'">课程信息</span>
				</div>
				<div class="m-jckc-add">
					<ul>
						<li>
							<span class="add-title"><i class="fa f-required"></i>所属学科</span>
							<div>
								<div class="content modal-classroom">
							        <input class="form-control" type="text" ng-model="form.Curriculumsinfo.Subjectname"  placeholder="选择教室位置"/>
							        <button class="btn w-xs btn-default" ng-click="modalOpenClassroom()">选择</button>
							    </div>
							</div>
						</li>
						<li>
							<span class="add-title"><i class="fa f-required"></i>课程名称</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.Curriculumsinfo.Curriculumname" ng-readonly="purview.details"  placeholder="输入课程名称"/>
							</div>
						</li>
						<li>
							<span class="add-title"><i class="fa f-required off"></i>课程图标</span>
					        <ul class="add-img-ul upimg">
					          <li ng-repeat="item in upimglist">
					            <span><img height="60" width="60"  ng-src="{{item.Result}}" /></span>
					            <i class="icon-close" ng-click="closePic($index)"></i>
					          </li>
					        </ul>
					        <span class="upimg" up-img="" ng-class="{'hidden':upimglist.length > 0}"><input type="file" name="file" value="" /><span class="btn btn-info m-b-xs w-xs">上传</span></span>
						</li>
						<li>
							<span class="add-title"><i class="fa f-required"></i>课程类型</span>
							<div>
								<div class="form-select">
									<ui-select ng-model="form.Curriculumsinfo.CurriculumstypeItem" theme="bootstrap"  ng-disabled="items.operate=='details'?true:false" ng-change="changeCurriculumstypeItem(form.Curriculumsinfo.CurriculumstypeItem)">
										<ui-select-match placeholder="选择课程类型">{{$select.selected.title}}</ui-select-match>
										<ui-select-choices repeat="item in form.Curriculumsinfo.CurriculumstypeItems | filter: $select.search">
											<div ng-bind-html="item.title | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</li>
						<li>
							<span class="add-title"><i class="fa f-required off"></i>课程详情</span>
							<div>
							    <textarea class="form-control" rows="4" ng-model="form.Curriculumsinfo.Curriculumsdetails" ng-readonly="purview.details" placeholder="输入课程详情"></textarea>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="m-btn-sub text-center" ng-if="purview.edit">
			    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
			    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
		  	</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<span ng-if="operation == 'details'">章节列表</span>
					<span ng-if="operation == 'add'">章节列表</span>
					<span ng-if="operation == 'edit'">章节列表</span>
					<div class="table-h-btn pull-right">
						<button class="btn b-w-rs w-xs btn-info pull-left" ng-click="operationClick('add')" ng-if="purview.add || purview.edit">添加</button>
					</div>
				</div>
				<div>
					<table class="table m-b-none" ui-jq="footable" data-sorting="false" data-stop-propagation="false" data-paging="false">
						<thead>
							<tr>
								<th data-hide="phone,tablet">顺序</th>
								<th data-toggle="true">名称</th>
								<th>图标</th>
								<th data-hide="phone,tablet">详情</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in form.Chapterslist">
								<td>{{item.ChaptersIndex}}</td>
								<td>{{item.Chaptername}}</td>
								<td>
									<a><img class="table-td-img"  ng-src="{{item.Chaptericon}}" /></a>
								</td>
								<td>{{item.Chapterdetails.substr(0,30)}}<span ng-if="item.Chapterdetails.length > 30">...</span></td>
								<td>
									<div class="btn-group dropdown" dropdown="">
										<button class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a ng-click="operationClick('details',item)">查看</a>
											</li>
											<li ng-if="purview.add || purview.edit">
												<a ng-click="operationClick('edit',item)">修改</a>
											</li>
											<li ng-if="purview.add || purview.edit">
												<a ng-click="chapterDelete(item,$index)">删除</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr ng-if="form.Chapterslist.length < 1">
								<td class="text-center" colspan="5">无章节</td>
							</tr>
						</tbody>
						<tfoot>
							<style>
								#kc_tf_td{display: table-cell !important;}
							</style>
							<tr>
								<td colspan="30" class="text-center" id="kc_tf_td">
									<!--分页-->
									<div class="text-center" foo-pagination></div>
								</td>
							</tr>
						</tfoot>
					</table>

					<div class="clear"></div>
				</div>
			</div>

			<div class="m-btn-sub text-center" ng-if="purview.add">
			    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
			    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
		  	</div>

		</div>
	</div>
</div>








