<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg">
			<div class="panel panel-default">
				<div class="panel-heading">
					出勤列表
					<div class="table-h-search pull-right col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="form.key_word" ng-keyup="sbgzKeyup($event)" placeholder="输入查询关键词">
							<span class="input-group-btn">
                  			<button class="btn btn-sm btn-default" type="button" ng-click="searchPost()" submit-timeout>
                    			<i class="fa fa-search"></i>
                			</button>
				       		</span>
						</div>
					</div>
					<div class="table-h-selct pull-right col-sm-2" style="width: 140px;">
						<div class="form-select">
							<ui-select ng-model="teacher.teacherItem" theme="bootstrap" ng-change="changeTeacherItem(teacher.teacherItem)">
								<ui-select-match placeholder="选择老师">{{$select.selected.Truename}}</ui-select-match>
								<ui-select-choices repeat="item in teacher.teacherItems | filter: $select.search">
									<div ng-bind-html="item.Truename | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="table-h-selct pull-right col-sm-2" style="width: 140px;">
						<div class="form-select">
							<ui-select ng-model="major.majorItem" theme="bootstrap" ng-change="changeMajorItem(major.majorItem)">
								<ui-select-match placeholder="选择专业/科系">{{$select.selected.Majorname}}</ui-select-match>
								<ui-select-choices repeat="item in major.majorItems | filter: $select.search">
									<div ng-bind-html="item.Majorname | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					
					<div class="table-h-selct pull-right col-sm-2" style="width: 140px;">
						<div class="form-select">
							<ui-select ng-model="college.collegeItem" theme="bootstrap" ng-change="changeCollegeItem(college.collegeItem)">
								<ui-select-match placeholder="选择学院">{{$select.selected.Collegename}}</ui-select-match>
								<ui-select-choices repeat="item in college.collegeItems | filter: $select.search">
									<div ng-bind-html="item.Collegename | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					
					<div class="table-h-date pull-right">
						<span>查询日期</span>
						<input type="text" ng-model="form.begin_date" id="lscq_begin" ng-click="getBeginDate()" class="form-control" readonly="readonly" placeholder="开始时间" />
						<span>-</span>
						<input type="text" ng-model="form.end_date" id="lscq_end" ng-click="getEndDate()" class="form-control" readonly="readonly" placeholder="结束时间" />
					</div>
					
				</div>
				<div>
					<table class="table m-b-none" ui-jq="footable" data-sorting="false" data-stop-propagation="false" data-paging="false">
						<thead>
							<tr>
								<th width="30"></th>
								<th data-toggle="true">日期</th>
								<th data-hide="phone,tablet">时间</th>
								<th>课程</th>
								<th data-hide="phone,tablet">班级</th>
								<th>上课老师</th>
								<th>状态</th>
								<th data-hide="phone,tablet">应到人数</th>
								<th data-hide="phone,tablet">实到人数</th>
								<th data-hide="phone,tablet">缺勤人数</th>
								<th>出勤率</th>
								<th>班级出勤</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in schedule">
								<td>{{$index + 1 + (backPage.PageIndex - 1) * backPage.PageSize}}</td>
								<td>{{item.Begindate.substr(0,11)}}</td>
								<td>{{item.Begindate.substr(11,5) + '-' + item.Enddate.substr(11,5)}}</td>
								<td>{{item.Curriculumname}}</td>
								<td>{{item.Classesname}}</td>
								<td>{{item.Truename}}</td>
								<td>
									<span ng-if="item.State == 0">未开始</span>
									<span ng-if="item.State == 1">进行中</span>
									<span ng-if="item.State == 2">已完成</span>
								</td>
								<td>{{item.Plannumber}}</td>
								<td>{{item.Actualnumber}}</td>
								<td>{{item.Plannumber - item.Actualnumber}}</td>
								<td>{{item.Toclassrate}}</td>
								<td>
									<div class="btn-group dropdown" dropdown="">
										<button class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a ui-sref="app.cqgl.lscq.details({'CId':item.Curriculumclassroomchaptercentreid})">查看</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr ng-if="schedule.length < 1">
								<td colspan="30" class="text-center">无数据</td>
							</tr>
						</tbody>
						<tfoot class="">
							<tr>
								<td colspan="30" class="text-center">
									<!--分页-->
									<div class="text-center" foo-pagination></div>
								</td>
							</tr>
						</tfoot>
					</table>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>












