<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span>课程信息</span>
				</div>
				<div class="m-jckc-add">
					<ul>
						<li>
							<span class="add-title">课程名称</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.LessonInfo.CurriculumName"  placeholder="课程名称" readonly="readonly" />
							</div>
						</li>
						<li>
							<span class="add-title">章节名称</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.LessonInfo.ChapterName"  placeholder="章节名称" readonly="readonly" />
							</div>
						</li>
						<li>
							<span class="add-title">教室</span>
							<div>
						        <input class="form-control" type="text" value='{{form.LessonInfo.CampusName + "-" + form.LessonInfo.BuildingName + "-" + form.LessonInfo.ClassroomName}}'  placeholder="教室" readonly="readonly" />
							</div>
						</li>
						<li>
							<span class="add-title">老师</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.LessonInfo.TeacherName"  placeholder="老师" readonly="readonly" />
							</div>
						</li>
						<li>
							<span class="add-title">班级</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.LessonInfo.ClassName"  placeholder="班级" readonly="readonly" />
							</div>
						</li>
						<li>
							<span class="add-title">开始时间</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.LessonInfo.BeginTime"  placeholder="开始时间" readonly="readonly" />
							</div>
						</li>
						<li>
							<span class="add-title">结束时间</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.LessonInfo.EndTime"  placeholder="选择结束时间" readonly="readonly" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			
			<div class="panel panel-default">
				<div class="panel-heading">
					视频信息
				</div>
				<div class="m-jckc-add">
					<ul>
						<li>
							<span class="add-title">标题</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.VideoTitle"  placeholder="输入标题" ng-readonly="operation == 'look'" />
							</div>
						</li>
						<li>
							<span class="add-title">封面</span>
					        <ul class="add-img-ul upimg">
					          <li ng-repeat="item in upimglist">
					            <span><img height="60" width="60"  ng-src="{{item.Result}}" /></span>
					            <i class="icon-close" ng-click="closePic($index)"></i>
					          </li>
					        </ul>
					        <span class="upimg" up-img="" ng-class="{'hidden':upimglist.length > 0}"><input type="file" name="file" value="" /><span class="btn btn-info m-b-xs w-xs">上传</span></span>
						</li>
						<li>
							<span class="add-title">内容介绍</span>
							<div>
							    <textarea class="form-control" rows="4" ng-readonly="operation == 'look'" placeholder="输入内容介绍">{{form.VideoInfo}}</textarea>
							</div>
						</li>
						<li>
							<span class="add-title">开始时间</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.BeginTime"  placeholder="选择开始时间" ng-readonly="operation == 'look'" />
							</div>
						</li>
						<li>
							<span class="add-title">结束时间</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.EndTime"  placeholder="选择结束时间" ng-readonly="operation == 'look'" />
							</div>
						</li>
						<li>
							<span class="add-title">时长</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.VideoDuration"  placeholder="输入时长" ng-readonly="operation == 'look'" />
							</div>
						</li>
						<li>
							<span class="add-title">推荐阅读</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.RecommendReads"  placeholder="输入推荐阅读" ng-readonly="operation == 'look'" />
							</div>
						</li>
						<li>
							<span class="add-title">附件</span>
					        <ul class="add-fj-ul upimg">
								<li ng-repeat="item2 in xxym_upfile">
									{{item2.Result.EnclosureName}}<a ng-click="removeFile(item2.Result,$index)">删除</a> 	
								</li>
							</ul>
							<span id="xxym_upfile" class="btn add-btn btn-kcgl-add up-img pull-left m-l-md" up-img="" data-input="{'CurriculumClassroomChapterID':'{{CurriculumClassroomChapterID}}'}" data-action="/vod/attachment/upload" ><input type="file" name="file" value="" /><span>上传</span></span>
						</li>
						<li>
							<span class="add-title">视频路径1</span>
							<div>
						        <a class="m-3 cursor">{{form.VodPath1}}</a>
								<div class="g-modal-footer" ng-if="form.VodPath2">
									<a class="btn" ng-click="openModalAddSp(form.VodPath1)">播放</a>
									<a href="{{form.VodPath1}}" target="_blank" class="btn">下载</a>
								</div>
							</div>
						</li>
						<li>
							<span class="add-title">视频路径2</span>
							<div>
						        <a class="m-3 cursor">{{form.VodPath2}}</a>
								<div class="g-modal-footer" ng-if="form.VodPath2">
									<a class="btn" ng-click="openModalAddSp(form.VodPath2)">播放</a>
									<a href="{{form.VodPath2}}" target="_blank" class="btn">下载</a>
								</div>
							</div>
						</li>
						<li>
							<span class="add-title">是否发布点播</span>
							<div>
						        <div class="form-select">
									<ui-select ng-model="form.AllowVODItem" theme="bootstrap" ng-change="changeAllowVODItem(form.AllowVODItem)">
										<ui-select-match placeholder="选择是否发布点播">{{$select.selected.title}}</ui-select-match>
										<ui-select-choices repeat="item in form.AllowVODItems | filter: $select.search">
											<div ng-bind-html="item.title | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</li>
						
						
						<li>
							<span class="add-title">下载次数</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.DownloadNum"  placeholder="下载次数" ng-readonly="operation == 'look'" />
							</div>
						</li>
						
						<li>
							<span class="add-title">播放次数</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.PlayNum"  placeholder="播放次数" ng-readonly="operation == 'look'" />
							</div>
						</li>
						
						
						
					</ul>
				</div>
			</div>
			
			
		</div>
	</div>
</div>











