<div class="m-sbpz">
		<!--  breadcrumb 面包屑  -->
		<div class="m-sbpz-breadcrumb">
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<!--  main  -->
		<div class="m-sbgl-sbpz m-kcgl-kcjh-add">
			<div class="m-sbgl-sbpz-h clearfix">
				<span class="title">设备型号状态值编码</span>
				<div class="sbpz-filter">
				</div>
			</div>
			<div class="m-sbgl-sbpz-add-table">
				<table class="sbpz-add-table-w">
					<tr>
						<th colspan="2">设备型号状态</th>
					</tr>
					<tr>
						<td>状态名称</td>
						<td>
							<div class="m-3"><textarea class="form-input" rows="1" placeholder="请输入状态名称" style="resize: none;" ></textarea></div>
						</td>
					</tr>
					<tr>
						<td>状态编码</td>
						<td>
							<div class="m-3"><textarea class="form-input" rows="1" placeholder="请输入状态编码" style="resize: none;" ></textarea></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="m-sbgl-sbpz">
			<!--查询 添加--> 
			<div class="m-sbgl-sbpz-h clearfix">
				<span class="title">状态值编码</span>
				<div class="sbpz-filter">
					<div class="filter-btn clearfix">
						<a tabindex="3" class="btn-kcgl-add pull-left" ng-click="openModalAddMl()">添加</a>
					</div>
				</div>
			</div>
			<!--表单-->	
			<div class="m-sbgl-sbpz-table">
				<table class="ztml-table-w">
					<tr>
						<th>状态值编码</th>
						<th>状态值名称</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>00</td>
						<td>关闭</td>
						<td>
							<a ng-click="modalOpenAddFault">删除</a>
						</td>
					</tr>
					<tr>
						<td>01</td>
						<td>开启</td>
						<td>
							<a ng-click="modalOpenAddFault">删除</a>
						</td>
					</tr>
					<tr>
						<td>02</td>
						<td>没有错误或错误已恢复</td>
						<td>
							<a ng-click="modalOpenAddFault">删除</a>
						</td>
					</tr>
					<tr>
						<td>03</td>
						<td>风扇错误</td>
						<td>
							<a ng-click="modalOpenAddFault">删除</a>
						</td>
					</tr>
					<tr>
						<td>04</td>
						<td>开机时灯泡故障</td>
						<td>
							<a ng-click="modalOpenAddFault">删除</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
