<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>选择设备型号</span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
		<div class="m-modal-content justify">
      <span class="title">名称</span>
      <span class="title">操作</span>
    </div>
    <div class="m-modal-content m-modal-table">
			<ul class="table-body">
				<li ng-repeat="item in xhgl_list | filterNev:{PId:''}" class="tr" ng-class="{'active':item.bul}">
					<ul class="body-header justify" ng-class="{'bg-color':!isLeaf(item.Id)}">
						<li ng-click="isOpen(item)">
							<a class="xhgl-tree" ng-class="{'active':item.bul}"><i class="fa" ng-class="{'fa-plus-square-o':!isLeaf(item.Id),'fa-minus-square-o':isLeaf(item.Id)}"></i><span>{{item.Name}}</span></a>
						</li>
						<li>
              <label class="i-checks" ng-if="item.showFilte">
                <input type="checkbox" name="post[]" ng-click="ok(item)">
                <i class="fa fa-check"></i>
              </label>
							<!--<a ng-click="ok(item)" ng-if="item.showFilte">选择</a>-->
						</li>
					</ul>
					<ul class="td-main">
						<li ng-repeat="item2 in xhgl_list | filterNev:{PId:item.Id}" class="tr" ng-class="{'active':item2.bul}">
							<ul class="body-header justify" ng-class="{'bg-color':!isLeaf(item2.Id)}">
								<li ng-click="isOpen(item2)">
									<a class="xhgl-tree"><em></em><i class="fa" ng-class="{'fa-plus-square-o':!isLeaf(item2.Id),'fa-minus-square-o':isLeaf(item2.Id)}"></i><span>{{item2.Name}}</span></a>
								</li>
								<li>
                  <label class="i-checks" ng-if="item2.showFilte">
                    <input type="checkbox" name="post[]" ng-click="ok(item2)">
                    <i class="fa fa-check"></i>
                  </label>
								</li>
							</ul>
							<ul class="td-main">
								<li ng-repeat="item3 in xhgl_list | filterNev:{PId:item2.Id}" class="tr" ng-class="{'active':item3.bul}">
									<ul class="body-header justify" ng-class="{'bg-color':!isLeaf(item3.Id)}">
										<li ng-click="isOpen(item3)">
											<a class="xhgl-tree"><em></em><em></em><i class="fa" ng-class="{'fa-plus-square-o':!isLeaf(item3.Id),'fa-minus-square-o':isLeaf(item3.Id)}"></i><span>{{item3.Name}}</span></a>
										</li>
										<li>
                      <label class="i-checks" ng-if="item3.showFilte">
                        <input type="checkbox" name="post[]" ng-click="ok(item3)">
                        <i class="fa fa-check"></i>
                      </label>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
    </div>
	</div>
  <div class="g-modal-footer">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()" submit-timeout>确定</button>
  </div>
</div>
