<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>学科选择</span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
  <div class="g-modal-body">
    <div class="m-modal-content">
      <div class="content">
        <span class="text">一级学科</span>
        <div class="form-select">
          <ui-select  ng-model="course1.courseListItem" theme="bootstrap" ng-change="changeSelect(course1.courseListItem,'0')">
            <ui-select-match placeholder="选择学科">{{$select.selected.Subjectname}}</ui-select-match>
            <ui-select-choices repeat="item in course1.courseItems | filter: $select.search">
              <div ng-bind-html="item.Subjectname | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content">
        <span class="text">二级学科</span>
        <div class="form-select">
          <ui-select  ng-model="course2.courseListItem" theme="bootstrap" ng-change="changeSelect(course2.courseListItem,'1')">
            <ui-select-match placeholder="选择学科">{{$select.selected.Subjectname}}</ui-select-match>
            <ui-select-choices repeat="item in course2.courseItems | filter: $select.search">
              <div ng-bind-html="item.Subjectname | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content">
        <span class="text">三级学科</span>
        <div class="form-select">
          <ui-select  ng-model="course3.courseListItem" theme="bootstrap" ng-change="changeSelect(course3.courseListItem,'2')">
            <ui-select-match placeholder="选择学科">{{$select.selected.Subjectname}}</ui-select-match>
            <ui-select-choices repeat="item in course3.courseItems | filter: $select.search">
              <div ng-bind-html="item.Subjectname | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
  <div class="g-modal-footer">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
  </div>
		<table>
			<tr>
				<td>一级学科</td>
				<td>
					<select class="modal-select" ng-model="course1.courseList" ng-change="changeSelect('0')">
						<option value="" selected="selected">选择学科</option>
						<option value="{{item.Subjectcode}}" ng-repeat="item in course1.courseItems">{{item.Subjectname}}</option>
					</select>
				</td>
			</tr>

			<tr>
				<td>二级学科</td>
				<td>
					<select class="modal-select" ng-model="course2.courseList" ng-change="changeSelect('1')">
						<option value="" selected="selected">选择学科</option>
						<option value="{{item.Subjectcode}}" ng-repeat="item in course2.courseItems">{{item.Subjectname}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>三级学科</td>
				<td>
					<select class="modal-select" ng-model="course3.courseList" ng-change="changeSelect('2')">
						<option value="" selected="selected">选择学科</option>
						<option value="{{item.Subjectcode}}" ng-repeat="item in course3.courseItems">{{item.Subjectname}}</option>
					</select>
				</td>
			</tr>
		</table>
</div>
