<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>班级选择</span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
    <div class="m-modal-content">
      <div class="content">
        <span class="text">学院</span>
        <div class="form-select">
          <ui-select  ng-model="college.collegeItem" theme="bootstrap" ng-change="changeSelect(college.collegeItem,'college')">
            <ui-select-match placeholder="选择校区">{{$select.selected.Collegename}}</ui-select-match>
            <ui-select-choices repeat="item in college.collegeItems | filter: $select.search">
              <div ng-bind-html="item.Collegename | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content">
        <span class="text">科系/专业</span>
        <div class="form-select">
          <ui-select  ng-model="major.majorItem" theme="bootstrap" ng-change="changeSelect(major.majorItem,'major')">
            <ui-select-match placeholder="选择校区">{{$select.selected.Majorname}}</ui-select-match>
            <ui-select-choices repeat="item in major.majorItems | filter: $select.search">
              <div ng-bind-html="item.Majorname | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content">
        <span class="text">班级</span>
        <div class="form-select">
          <ui-select  ng-model="class.classItem" theme="bootstrap" ng-change="changeSelect(class.classItem,'class')">
            <ui-select-match placeholder="选择校区">{{$select.selected.Classesname}}</ui-select-match>
            <ui-select-choices repeat="item in class.classItems | filter: $select.search">
              <div ng-bind-html="item.Classesname | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
	</div>
  <div class="g-modal-footer">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
  </div>
</div>
