<div ui-view>
  <div class="m-sbpz">
		<!--  breadcrumb 面包屑  -->
		<div class="m-sbjk-breadcrumb">
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>

    <div class="wrapper-lg wrapper-tree">
      <div class="app-aside">
        <div class="content-left panel panel-default">
          <div class="m-sbpz-tree show_level3">
            <abn-tree
              tree-data="xygl_data"
              tree-control="xygl_tree"
              on-select="xygl_tree_handler(branch)"
              expand-level="1"
              initial-selection="Granny Smith"
              icon-leaf="fa"
              icon-expand="fa fa-plus-square-o"
              icon-collapse="fa fa-minus-square-o"
            >
            </abn-tree>
          </div>
        </div>
      </div>
      <div class="content-right panel panel-default">
				<!--查询 添加-->
        <div class="panel-heading">
          <span class="title">已选定</span>
          <b ng-if='xyglRightData.item.label == null'>{{xygl_data[0].label}}</b>
          <b ng-if='xyglRightData.item.label != null'>{{xyglRightData.item.label}}</b>
          <div class="table-h-btn pull-right">
            <button tabindex="1" class="btn b-w-rs w-xs btn-info pull-left" ng-click="openModalAdd('add',xyglRightData.item)">添加</button>
          </div>
        </div>
				<!--表单-->
        <div>
          <table class="table m-b-none" ui-jq="footable" data-page-size="5">
            <thead>
              <tr>
              	<th width="30"></th>
                <th data-toggle="true">学院代码</th>
                <th data-hide="phone,tablet">学院名称</th>
                <th>显示图标</th>
                <th data-hide="phone,tablet" ng-if="xyglRightData.item.level == 2">入学年份</th>
                <th data-hide="phone,tablet">类型</th>
                <th data-hide="phone,tablet" ng-if="xyglRightData.item.level == 0 || xyglRightData.item.level == undefined">所属校区</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in xyglRightData.list">
              	<td>{{$index + 1 + (backPage.PageIndex - 1) * backPage.PageSize}}</td>
                <td ng-if="xyglRightData.item.level == 0 || xyglRightData.item.level == undefined">{{item.Collegecode}}</td>
                <td ng-if="xyglRightData.item.level == 1">{{item.Majorcode}}</td>
                <td ng-if="xyglRightData.item.level == 2">{{item.Classescode}}</td>
                <td ng-if="xyglRightData.item.level == 0 || xyglRightData.item.level == undefined">{{item.Collegename}}</td>
                <td ng-if="xyglRightData.item.level == 1">{{item.Majorname}}</td>
                <td ng-if="xyglRightData.item.level == 2">{{item.Classesname}}</td>
                <td ng-if="xyglRightData.item.level == 0 || xyglRightData.item.level == undefined"><img class="table-td-img" ng-src="{{item.Collegeicon}}"></td>
                <td ng-if="xyglRightData.item.level == 1"><img class="table-td-img" ng-src="{{item.Majoricon}}"></td>
                <td ng-if="xyglRightData.item.level == 2"><img class="table-td-img" ng-src="{{item.Classesicon}}"></td>
                <td ng-if="xyglRightData.item.level == 2">{{item.Enrollmentyear}}</td>
                <td ng-if="xyglRightData.item.level == 0 || xyglRightData.item.level == undefined">学院</td>
                <td ng-if="xyglRightData.item.level == 0 || xyglRightData.item.level == undefined">所属校区</td>
                <td ng-if="xyglRightData.item.level == 1">科系</td>
                <td ng-if="xyglRightData.item.level == 2">班级</td>
                <td>
                  <div class="btn-group dropdown" dropdown="">
                    <button class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a ng-click="openModalAdd('edit',xyglRightData.item,item)">修改</a>
                      </li>
                      <li>
                        <a ng-click="deleteItem(xyglRightData.item,item)">删除</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <tr class="ta-c" ng-if="xyglRightData.list.length < 1">
              <td colspan="30" class="text-center">无数据</td>
            </tr>
            </tbody>
            <tfoot class="">
            <tr>
              <td colspan="30" class="text-center">
                <!--分页-->
                <div class="text-center" foo-pagination></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
			</div>
		</div>
	</div>
</div>
