<div ui-view>
	<div class="img-header text-left clearfix" ng-init="fnInit()">
		<div class="col-xs-4">
			<img ng-if="classroomInfoData.Classroomicon==''" src="../img/classroom.jpg" alt="..." class="pull-left img-rounded classroomimg ">
			<img ng-if="classroomInfoData.Classroomicon!=''" ng-src="{{classroomInfoData.Classroomicon}}" alt="..." class="pull-left img-rounded classroomimg">
		</div>
		<div class="col-xs-8">
			<div class="pull-left classroominfodiv">
				<p class="classroomname">
					<span ng-bind="classroomInfoData.Classroomsname"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="zt">教室状态：
						<span ng-if="classroomInfoData.Classroomstate == 1">上课中</span>
						<span ng-if="classroomInfoData.Classroomstate == 0">开放中</span>
						<span ng-if="classroomInfoData.Classroomstate == -1">不可用</span>
					</span>
				</p>
				<p>
					<span ng-bind="classroomInfoData.Campusname"></span>-<span ng-bind="classroomInfoData.Buildingname"></span>-<span ng-bind="classroomInfoData.Floorname"></span>
				</p>
				<p><span ng-bind="classroomInfoData.Curriculumname"></span>&nbsp;&nbsp;<span ng-bind="classroomInfoData.Nickname"></span></p>
			</div>
		</div>
	</div>

	<!--<div class="list navbar-form text-center tm" style="padding-bottom: 26px;padding-top: 6px;">-->
	<div class="device-list">
		<div class="panel panel-default csspanel " ng-repeat="row in deviceData" ng-click="fnIntoDevice(row.DeviceId,row.DevicePage)">
			<div class="panel-body text-center">
				<!--主图-->
				<!--<img ng-if="!((row.NodeSwitch=='on' || row.NodeSwitch=='') && (row.DeviceSwitch=='on' || row.DeviceSwitch==''))" ng-src="{{deviceimg}}{{row.DeviceImg}}" alt="..." class="img-rounded statusimg gray" >-->
				<!--<img ng-if="(row.NodeSwitch=='on' || row.NodeSwitch=='') && (row.DeviceSwitch=='on' || row.DeviceSwitch=='')" ng-src="{{deviceimg}}{{row.DeviceImg2}}" alt="..." class="img-rounded statusimg" >-->
				<img ng-if="row.DeviceSwitch !='on'" ng-src="{{deviceimg}}{{row.DeviceImg}}" alt="..." class="img-rounded statusimg gray">
				<img ng-if="row.DeviceSwitch=='on'" ng-src="{{deviceimg}}{{row.DeviceImg2}}" alt="..." class="img-rounded statusimg">

				<div class="device-warning">
					<!--离线或在线-->
					<img ng-if="row.NodeSwitch!='offline'" src="../img/arm.png" alt="设备在线" class="flagimg" title="设备在线">
					<img ng-if="row.NodeSwitch=='offline'" src="../img/arl.png" alt="设备离线" class="flagimg " title="设备离线">

					<!--设备是否可用-->
					<img ng-if="row.IsCanUse=='0'" src="../img/device/stop.png" alt="设备不可用" class="flagimg" title="设备不可用">

					<!--设备是否预警-->
					<img ng-if="row.IsHaveAlert=='1'" src="../img/alert.png" alt="设备有预警" class="flagimg" title="设备有预警">
				</div>

			</div>
			<!--<div class="panel-footer text-center " style="padding-left:2px;padding-right:2px;padding-top:4px;padding-bottom: 4px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;color:#666;background-color: #eeeeee;">{{row.DeviceName}}</div>-->
			<div class="device-one-title panel-footer text-center">{{row.DeviceName}}</div>
		</div>
		
	</div>
	

	<!--</div>-->

	<div class="footer navbar-fixed-bottom text-center">
		<div class="text-center">
			<div class="device-btn clearfix">
				<a class="btn btn-btn50" ng-click="fnOpenDevice()">一键开启</a>
				<a class="btn btn-btn50 yellow" ng-click="fnCloseDevice()">一键关闭</a>
			</div>
		</div>
	</div>
</div>
