<!-- settings -->
<button class="btn btn-default no-shadow pos-abt" ui-toggle-class="active" target=".settings">
  <i class="fa fa-spin fa-gear"></i>
</button>
<div class="panel-heading">
  Settings
</div>
<div class="wrapper b-t b-light bg-light lter r-b">
  <div class="row row-sm">
    <div class="col-xs-12">
      <label class="i-checks block m-b" ng-click="
          app.settings.navbarHeaderColor='bg-black b-r-b b-b-b';
          app.settings.navbarCollapseColor='bg-black';
          app.settings.asideColor='bg-black b-r-b';
          app.settings.footerColor='bg-black b-t-b';
          app.settings.bodyColor='bg-black-body app-black';
         ">
        <input type="radio" ng-model="app.settings.themeID" value="7">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-black header"></b>
            <b class="bg-black header"></b>
            <b class="bg-white"></b>
          </span>
      </label>


      <label class="i-checks block m-b" ng-click="
          app.settings.navbarHeaderColor='bg-info dker';
          app.settings.navbarCollapseColor='bg-info dker';
          app.settings.asideColor='bg-white';
          app.settings.bodyColor='bg-info-body';
          app.settings.footerColor='bg-white';
         ">
        <input type="radio" ng-model="app.settings.themeID" value="10">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-info dker header"></b>
            <b class="bg-info dk header"></b>
            <b class="bg-white"></b>
          </span>
      </label>

    </div>
  </div>
</div>
<!-- /settings -->
