<!DOCTYPE html>
<html lang="en" data-ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>教室设备列表</title>
		<base href="web">
		<link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../plugins/jquery-notific8/jquery.notific8.min.css" rel="stylesheet" type="text/css" />
		<link href="../css/index.css" rel="stylesheet">

		<script src="../plugins/jQuery/jQuery-2.2.0.min.js"></script>
		<script src="../plugins/jquery-notific8/jquery.notific8.min.js" type="text/javascript"></script>
		<script src="../plugins/metronic/metronic.js" type="text/javascript"></script>
		
	</head>

	<body class="bjs">
		<div class="container-fluid clearpadding text-center">
			<div class="header navbar-fixed-top clearfix">
				<div class="title text-center">
					<div class="titletext">错误</div>
					<div class="title-back">
						<img src="../img/device/back.png" alt="返回" onclick="history.back()" />
					</div>
				</div>
			</div>
			
			<div class="img-header text-left clearfix">
				<div class="col-xs-4">
					<img src="../img/classroom.jpg" alt="..." class="pull-left img-rounded classroomimg ">
				</div>
				<div class="col-xs-8">
					<div class="pull-left classroominfodiv">
						
					</div>
				</div>
			</div>

			<!--<div class="list navbar-form text-center tm" style="padding-bottom: 26px;padding-top: 6px;">-->
			<div class="device-list">
				<h4>未登录账号！</h4>
			</div>
			

			<!--</div>-->

			<div class="footer navbar-fixed-bottom text-center">
				<div class="text-center">
					<div class="device-btn clearfix">
						<a class="btn btn-btn50">一键开启</a>
						<a class="btn btn-btn50 yellow">一键关闭</a>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>