<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
		<meta name="author" content="Muhammad Usman">
		<!-- The styles -->
		<link id="bs-css" href="../css/bootstrap-cerulean.min.css" rel="stylesheet">
		<link href="../css/charisma-app.css" rel="stylesheet">
		<link href="../css/login.css" rel="stylesheet">
		<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		<!-- The fav icon -->
		<link rel="shortcut icon" href="../img/favicon.ico">
		<!-- jQuery -->
		<script src="../js/jquery.min.js"></script>
		<script>
			window.location.href = "/web2/html/login_zkmb.html"; 
		</script>
	</head>

	<body class="login login-body">
		<div class="ch-container">
			<div class="login-main">
				<div class="login-logo text-center">
					<img src="../img/login/logo_login.png" />
				</div>
				<div class="login-form">
					<form id="login" autocomplete="off">
						<div class="form-name clearfix">
							<i class="icon-user"></i>
							<input tabindex="1" type="text" id="username" name="username" value="" placeholder="账号" />
						</div>
						<div class="form-pwd clearfix">
							<i class="icon-pwd"></i>
							<input tabindex="2" type="password" id="userpwd" name="userpwd" value="" placeholder="密码" />
						</div>
						<div class="form-err" id="showMeg">
							<!--<span>密码错误！</span>-->
						</div>
						<div class="form-btn">
							<input tabindex="3" type="submit" value="登录" />
						</div>
					</form>
				</div>
			</div>
			
			<div class="m-copyright"><div class="copyright">版权所有：<a href="http://www.newcloudnet.com/" target="_blank">湖南新云网科技有限公司</a>&nbsp;&nbsp;<span>版本：v1.1</span></div></div>
		</div>
		
		

	</body>

</html>