<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFmpegServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <FFmpegServer.Properties.Settings>
      <setting name="ServerHost" serializeAs="String">
        <value>192.168.0.201</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>1616</value>
      </setting>
      <setting name="HttpUrlPath" serializeAs="String">
        <value>/vod</value>
      </setting>
      <setting name="ThisHost" serializeAs="String">
        <value>192.168.12.212</value>
      </setting>
      <setting name="ThisPort" serializeAs="String">
        <value>1514</value>
      </setting>
      <setting name="ThisMacAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="CameraFFmpegCmd" serializeAs="String">
        <value />
      </setting>
      <setting name="CameraFilePath" serializeAs="String">
        <value>D:\Workspace\web\nginx_v1.7.11.3_Gryphon\nginx-rtmp-module\tmp\rec</value>
      </setting>
      <setting name="RtmpAddress" serializeAs="String">
        <value>rtmp://192.168.12.212:1935/vod2/</value>
      </setting>
      <setting name="ThisHostType" serializeAs="String">
        <value>Client</value>
      </setting>
      <setting name="ScreenFilePath" serializeAs="String">
        <value>Z:\</value>
      </setting>
    </FFmpegServer.Properties.Settings>
  </userSettings>
</configuration>