<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span ng-if="items.operate == ''">设备型号添加</span>
		<span ng-if="items.operate == 'edit'">设备型号修改</span>
		<span ng-if="items.operate == 'see'">设备型号查看</span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
    <div class="m-modal-content">
      <p class="title">基本信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>Id</span>
        <input class="form-control" type="text" ng-model="form.Id" readonly="readonly" placeholder="输入型号Id"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>名称</span>
        <input class="form-control" type="text" ng-model="form.Name" ng-readonly="items.operate == 'see'" placeholder="输入型号名称"/>
      </div>
      <div class="content" ng-if="items.item.Modallevel != 0 && items.item.Modallevel !=undefined">
        <span class="text"><i class="fa f-required"></i>父节点</span>
        <input class="form-control" type="text" ng-model="form.ModalName"  readonly="readonly" placeholder="选择设备型号"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>类型</span>
        <div class="form-select">
          <ui-select  ng-model="form.TypeState" ng-disabled="items.operate=='see'?true:false" theme="bootstrap" ng-change="changeTypeState(form.TypeState)">
            <ui-select-match placeholder="选择类型状态">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="item in form.TypeStates | filter: $select.search">
              <div ng-bind-html="item.Name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>描述</span>
        <textarea class="form-control" rows="4" ng-model="form.Description" ng-readonly="items.operate == 'see'" placeholder="输入描述"></textarea>
      </div>
      <div class="content" ng-if="form.Type == 2">
        <span class="text"><i class="fa f-required off"></i>是否预警</span>
        <div class="form-select">
          <ui-select  ng-model="form.IsAler" ng-disabled="items.operate=='see'?true:false" theme="bootstrap" ng-change="changeIsAlert(form.IsAler)">
            <ui-select-match placeholder="是否按时间预警">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="item in form.IsAlerts | filter: $select.search">
              <div ng-bind-html="item.Name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content" ng-if="form.Type == 2">
        <span class="text"><i class="fa f-required off"></i>预警时长</span>
        <input type="text" class="form-control" ng-model="form.MaxUseTime" ng-readonly="items.operate == 'see' || form.IsAlert == 0" placeholder="预警时长"/>
      </div>
      <div class="content" ng-if="form.Type == 2">
        <span class="text"><i class="fa f-required off"></i>资源模板</span>
        <div class="form-select">
          <ui-select  ng-model="form.enumDeviceArray" ng-disabled="items.operate=='see'?true:false" theme="bootstrap" ng-change="changeEnumDeviceModel(form.enumDeviceArray)">
            <ui-select-match placeholder="选择资料模板">{{$select.selected.title}}</ui-select-match>
            <ui-select-choices repeat="item in form.enumDeviceArrays | filter: $select.search">
              <div ng-bind-html="item.title | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content" ng-if="form.Type == 2">
        <span class="text"><i class="fa f-required off"></i>页面</span>
        <input type="text" class="form-control" ng-model="form.PageFileName" ng-readonly="items.operate == 'see'" placeholder="输入型号页面"/>
      </div>
      <div class="content" ng-if="form.Type == 2">
        <span class="text"><i class="fa f-required off"></i>关-图片</span>
        <input type="text" class="form-control" ng-model="form.ImgFileName" ng-readonly="items.operate == 'see'" placeholder="输入关闭时图片"/>
      </div>
      <div class="content" ng-if="form.Type == 2">
        <span class="text"><i class="fa f-required off"></i>开-图片</span>
        <input type="text" class="form-control" ng-model="form.ImgFileName2" ng-readonly="items.operate == 'see'" placeholder="输入开启时图片"/>
      </div>
    </div>
	</div>
  <div class="g-modal-footer" ng-if="items.operate != 'see'">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
  </div>
</div>
