<div ui-view>
  <div class="m-sbpz">
		<!--  breadcrumb 面包屑  -->
		<div class="m-sbjk-breadcrumb">
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
    <div class="wrapper-lg wrapper-tree">
      <div class="app-aside">
        <div class="content-left panel panel-default">
          <div class="m-sbpz-tree show_level4">
            <abn-tree
              tree-data="xqgl_data"
              tree-control="xqgl_tree"
              on-select="xqgl_tree_handler(branch)"
              expand-level="1"
              initial-selection="Granny Smith"
              icon-leaf="fa"
              icon-expand= "fa fa-plus-square-o"
              icon-collapse= "fa fa-minus-square-o"
            >
            </abn-tree>
          </div>
        </div>
      </div>
      <div class="content-right panel panel-default">
				<!--查询 添加-->
        <div class="panel-heading">
          <span class="title">已选定</span>
          <b ng-if='xqglRightData.item.label == null'>{{xqgl_data[0].label}}</b>
          <b ng-if='xqglRightData.item.label != null'>{{xqglRightData.item.label}}</b>
          <div class="table-h-btn pull-right">
            <button tabindex="1" class="btn b-w-rs w-xs btn-info pull-left" ng-click="openModalAdd('add',xqglRightData.item)">添加</button>
          </div>
        </div>
				<!--表单-->
        <div>
          <table class="table m-b-none" ui-jq="footable" data-page-size="5">
            <thead>
              <tr>
              	<th width="30"></th>
              	<th data-toggle="true" ng-if="xqglRightData.item.level == 0 || xqglRightData.item.level == undefined">校区代码</th>
                <th data-toggle="true" ng-if="xqglRightData.item.level == 1">楼栋代码</th>
                <th data-toggle="true" ng-if="xqglRightData.item.level == 2">楼层代码</th>
                <th data-toggle="true" ng-if="xqglRightData.item.level == 3">教室代码</th>

                <th ng-if="xqglRightData.item.level == 0 || xqglRightData.item.level == undefined">校区名称</th>
                <th ng-if="xqglRightData.item.level == 1">楼栋名称</th>
                <th ng-if="xqglRightData.item.level == 2">楼层名称</th>
                <th ng-if="xqglRightData.item.level == 3">教室名称</th>
                <th data-hide="phone,tablet" ng-if="xqglRightData.item.level == 3">教室属性</th>
                <th data-hide="phone,tablet" ng-if="xqglRightData.item.level == 3">座位数</th>
                <th data-hide="phone,tablet" ng-if="xqglRightData.item.level == 3">图片</th>
                <th ng-if="xqglRightData.item.level != 3">显示图标</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in xqglRightData.list">
            	<td>{{$index + 1 + (backPage.PageIndex - 1) * backPage.PageSize}}</td>
            	<td ng-if="xqglRightData.item.level == 0 || xqglRightData.item.level == undefined ">{{item.Campuscode}}</td>
              <td ng-if="xqglRightData.item.level == 1">{{item.Buildingcode}}</td>
              <td ng-if="xqglRightData.item.level == 2">{{item.Floorscode}}</td>
              <td ng-if="xqglRightData.item.level == 3">{{item.Classroomscode}}</td>

              <td ng-if="xqglRightData.item.level == 0 || xqglRightData.item.level == undefined ">{{item.Campusname}}</td>
              <td ng-if="xqglRightData.item.level == 1">{{item.Buildingname}}</td>
              <td ng-if="xqglRightData.item.level == 2">{{item.Floorname}}</td>
              <td ng-if="xqglRightData.item.level == 3">{{item.Classroomsname}}</td>
              <td ng-if="xqglRightData.item.level == 0 || xqglRightData.item.level == undefined "><img class="img img-h64" ng-src="{{item.Campusicon}}"></td>
              <td ng-if="xqglRightData.item.level == 1"><img class="img img-h64" ng-src="{{item.Buildingicon}}"></td>
              <td ng-if="xqglRightData.item.level == 2"><img class="img img-h64" ng-src="{{item.FloorsImage}}"></td>
              <td ng-if="xqglRightData.item.level == 3">{{item.Classroomstype}}</td>
              <td ng-if="xqglRightData.item.level == 3">{{item.Seatsnumbers}}</td>
              <td ng-if="xqglRightData.item.level == 3"><img height="40" ng-src="{{item.Classroomicon}}" /></td>
              <td>
                <div class="btn-group dropdown" dropdown="">
                  <button class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li>
                      <a ng-click="openModalAdd('edit',xqglRightData.item,item)">编辑</a>
                    </li>
                    <li>
                      <a ng-click="deleteItem(xqglRightData.item,item)">删除</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="ta-c" ng-if="xqglRightData.list.length < 1">
              <td colspan="30" class="text-center">无数据</td>
            </tr>
            </tbody>
            <tfoot class="">
            <tr>
              <td colspan="30" class="text-center">
                <!--分页-->
                <div class="text-center" foo-pagination></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
			</div>
		</div>
	</div>
</div>
