<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg">
			<div class="panel panel-default">
				<div class="panel-heading">
					角色权限管理
				</div>
				<div>
					<div class="m-jckc-add">
						<ul>
							<li>
								<span class="add-title">角色</span>
								<div>
									<div class="form-select">
										<ui-select ng-model="form.jsgl_listitem_item" theme="bootstrap" ng-change="qxgleselect(form.jsgl_listitem_item.Id)">
											<ui-select-match placeholder="选择角色类型">{{$select.selected.Rolesname}}</ui-select-match>
											<ui-select-choices repeat="item in jsgl_list | filter: $select.search">
												<div ng-bind-html="item.Rolesname | highlight: $select.search"></div>
											</ui-select-choices>
										</ui-select>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="m-qxgl-tree">
						<ul class="qxgl-tree">
							<li ng-repeat="item0 in mkgl_tree_qxfp" ng-class="{'active':item0.bul}">
								<span>
									<i class="fa fa-minus" ng-click="isOpen(item0)"></i>
									<label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="item0.checkbox" ng-click="click_checkbox(item0)"><i ng-class="{'half':item0.ban}"></i></label><b>{{item0.Modulename}}</b>
								</span>
								<ul>
									<li ng-repeat="item in item0.children" ng-class="{'active':item.bul}">
										<span ng-class="{'leaf':isLeaf(item.Id)}">
											<em></em><i class="fa fa-minus" ng-click="isOpen(item)"></i>
											<label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="item.checkbox" ng-click="click_checkbox(item)"><i ng-class="{'half':item.ban}"></i></label><b>{{item.Modulename}}</b>
										</span>
										
										<span ng-repeat="fitem in item.Functionlist" ng-if="item.Functionlist">
											<em></em><em></em><em class="icon-key"></em><!--<i class="fa fa-minus" ng-click="isOpen(fitem)"></i>-->
											<label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="fitem.checkbox" ng-click="fclick_checkbox(fitem,item)"><i ng-class="{'half':fitem.ban}"></i></label><b>{{fitem.Functionname}}</b>
										</span>
										
										<ul>
											<li ng-repeat="item2 in item.children" ng-class="{'active':item2.bul}">
												<span ng-class="{'leaf':isLeaf(item2.Id)}">
													<em></em><i class="fa fa-minus" ng-click="isOpen(item2)"></i>
													<label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="item2.checkbox" ng-click="click_checkbox(item2)"><i ng-class="{'half':item2.ban}"></i></label><b>{{item2.Modulename}}</b>
												</span>
												<span ng-repeat="fitem2 in item2.Functionlist" ng-if="item2.Functionlist">
													<em></em><em class="icon-key"></em><!--<i class="fa fa-minus" ng-click="isOpen(fitem2)"></i>-->
													<label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="fitem2.checkbox" ng-click="fclick_checkbox(fitem2,item2)"><i ng-class="{'half':fitem2.ban}"></i></label><b>{{fitem2.Functionname}}</b>
												</span>
												<ul>
													<li ng-repeat="item3 in item2.children" ng-class="{'active':item3.bul}">
														<span ng-class="{'leaf':isLeaf(item3.Id)}">
															<em></em><i class="fa fa-minus" ng-click="isOpen(item3)"></i>
															<label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="item3.checkbox" ng-click="click_checkbox(item3)"><i ng-class="{'half':item3.ban}"></i></label><b>{{item3.Modulename}}</b>
														</span>
														<span ng-repeat="fitem3 in item3.Functionlist" ng-if="item3.Functionlist">
															<em></em><em class="icon-key"></em><!--<i class="fa fa-minus" ng-click="isOpen(fitem3)"></i>-->
															<label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="fitem3.checkbox" ng-click="fclick_checkbox(fitem3,item3)"><i ng-class="{'half':fitem.ban}"></i></label><b>{{fitem3.Functionname}}</b>
														</span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					
					<div class="qxfp-btn text-center wrapper-lg">
						<button class="btn btn-info w-xs" ng-click="qxfp_post()" submit-timeout>提交</button>
					</div>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>






