<div ui-view>
	<div class="m-jdpz">
		<div class="m-jdpz-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>

		<!--main--主要部分-->
		<div class="wrapper-lg">
			<!--查询 添加-->
			<div class="panel panel-default">
				<div class="panel-heading">
					控制命令
					<div class="table-h-btn pull-right">
						<button tabindex="2" class="btn b-w-rs w-xs btn-info pull-left" ng-click="openModalAddMl()">添加</button>
					</div>
					<div class="table-h-search pull-right col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="form.KeyWord" ng-keyup="sbgzKeyup($event)" placeholder="输入查询关键词">
							<span class="input-group-btn">
				            <button class="btn btn-sm btn-default" type="button" ng-click="searchPost()" submit-timeout>
                      <i class="fa fa-search"></i>
                    </button>
				          </span>
						</div>
					</div>
				</div>
				<!--表单-->
				<div>
					<table class="table m-b-none" ui-jq="footable" data-sorting="false" data-stop-propagation="false" data-paging="false">
						<thead>
							<tr>
								<th width="30"></th>
								<th data-toggle="true">节点型号</th>
								<th>命令代码</th>
								<th>命令名称</th>
								<th data-hide="phone,tablet">命令描述</th>
								<th data-hide="phone,tablet">请求URI</th>
								<th data-hide="phone,tablet">URI查询参数</th>
								<th>请求类型</th>
								<th>负载</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in kzmlItems">
								<td>{{$index + 1 + (backPage.PageIndex - 1) * backPage.PageSize}}</td>
								<td>{{item.NodeModelName}}</td>
								<td>{{item.CmdCode}}</td>
								<td><span class="label bg-info">{{item.CmdName}}</span></td>
								<td>{{item.CmdDescription}}</td>
								<td>{{item.RequestURI}}</td>
								<td>{{item.URIQuery}}</td>
								<td><span class="label bg-info">{{item.RequestType}}</span></td>
								<td>{{item.Payload}}</td>
								<td>
									<div class="btn-group dropdown" dropdown="">
										<button class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a ng-click="openModalAddMl(item,'see')">查看</a>
											</li>
											<li>
												<a ng-click="openModalAddMl(item,'edit')">修改</a>
											</li>
											<li>
												<a ng-click="deleteItem(item)">删除</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr ng-if="kzmlItems.length < 1">
								<td class="text-center" colspan="30">无数据</td>
							</tr>
						</tbody>
						<tfoot class="">
							<tr>
								<td colspan="30" class="text-center">
									<!--分页-->
									<div class="text-center" foo-pagination></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>