<!-- list -->
<ul class="nav">
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span>MENU</span>
	</li>
	<li class="nav-index" ng-class="{active:$state.includes('app.index')}">
		<a ui-sref="app.index"><i class="icon-home"></i><span>首页</span></a>
	</li>
	<li ng-class="{active:$state.includes('app.{{i.Modulecode}}.**')}" ng-repeat="i in navlist | filterNev:{Superiormoduleid:'0'}">
		<a ng-click="navClick(i)" class="auto">
			<span class="pull-right text-muted" ng-if="haveSon(i.Id)">
		        <i class="fa fa-fw fa-angle-right text"></i>
		        <i class="fa fa-fw fa-angle-down text-active"></i>
      		</span>
			<i class="{{i.Moduleicon}}"></i>
			<span>{{i.Modulename}}</span>
		</a>
		<ul class="nav nav-sub dk" ng-if="haveSon(i.Id) == true">
			<li ui-sref-active="active" ng-repeat="b in navlist | filterNev:{Superiormoduleid:i.Id}" ng-class="{active:$state.includes('app.{{b.Modulecode}}.**')}">
				<a ng-click="navClick(b)" class="auto">
					<span class="pull-right text-muted" ng-if="haveSon(b.Id)">
				        <i class="fa fa-fw fa-angle-right text"></i>
				        <i class="fa fa-fw fa-angle-down text-active"></i>
		      		</span>
					<span>{{b.Modulename}}</span>
				</a>
				<ul class="nav nav-sub dk" ng-if="haveSon(b.Id) == true">
					<li ui-sref-active="active" ng-repeat="c in navlist | filterNev:{Superiormoduleid:b.Id}" ng-class="{active:$state.includes('app.{{c.Modulecode}}.**')}">
						<a ng-click="navClick(c)"><span>{{c.Modulename}}</span></a>
					</li>
				</ul>
			</li>

		</ul>
	</li>

</ul>
<!-- / list -->