<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span ng-if="items.operate == 'add'">故障现象添加</span>
		<span ng-if="items.operate == 'look'">故障现象查看</span>
		<span ng-if="items.operate == 'edit'">故障现象修改</span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body m-modal-classroom-body">
    <div class="m-modal-content">
      <p class="title">基本信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>设备型号</span>
        <input class="form-control" type="text" ng-model="form.ModelName" readonly="readonly" placeholder="请选择设备型号"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>故障现象</span>
        <input class="form-control" type="text" ng-model="form.Name" placeholder="请输入故障现象"/>
      </div>
		</div>
	</div>
  <div class="g-modal-footer">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok('submit','12')">保存</button>
  </div>
</div>
