<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>编辑</span>
		<div class="modal-close" ng-click="cancel()"><i class="icon-close-modal"></i></div>
	</div>
	<div class="g-modal-body m-modal-classroom-body">
		<table>
			<tr>
				<td>模块图标</td>
				<td>
					<div class="modal-div-input"><input type="text" class="modal-input none" ng-model="mkgl_edit.Moduleicon" placeholder="输入模块图标" /></div>
				</td>
			</tr>
			<tr>
				<td>模块ID</td>
				<td>
					<div class="modal-div-input"><span class="m-l-md">{{mkgl_edit.Id}}</span></div>
				</td>
			</tr>
			<tr>
				<td>模块名称</td>
				<td>
					<div class="modal-div-input"><input type="text" class="modal-input none" ng-model="mkgl_edit.Modulename" placeholder="输入模块名称" /></div>
				</td>
			</tr>
			<tr>
				<td>模块代码</td>
				<td>
					<div class="modal-div-input"><input type="text" class="modal-input none" ng-model="mkgl_edit.Modulecode" placeholder="输入模块代码" /></div>
				</td>
			</tr>
			<tr>
				<td>显示名称</td>
				<td>
					<div class="modal-div-input"><input type="text" class="modal-input none" ng-model="mkgl_edit.Moduledisplayname" placeholder="输入显示名称" /></div>
				</td>
			</tr>
			<tr>
				<td>适用终端</td>
				<td>
					<div class="modal-div-input"><input type="text" class="modal-input none" ng-model="mkgl_edit.Moduledisplayterminal" placeholder="输入适用终端" /></div>
				</td>
			</tr>
			<tr>
				<td>上级模块ID</td>
				<td>
					<div class="modal-div-input">
						<select class="form-control modal-input" ng-model="mkgl_listitem" id="mkgl_select">
							<option value="">--请选择--</option>
							<option value="0">根目录(0)</option>
							<option ng-repeat="item in mkgl_list" value="{{item.Id}}" >{{item.Modulename}}({{item.Id}})</option>
						</select>
					</div>
				</td>
			</tr>
			<tr class="hidden">
				<td>模块Url</td>
				<td>
					<div class="modal-div-input"><input type="text" class="modal-input none" ng-model="mkgl_edit.Moduleurl" placeholder="输入模块Url" /></div>
				</td>
			</tr>
			<tr class="hidden">
				<td>模块属性</td>
				<td>
					<div class="modal-div-input"><input type="text" class="modal-input none" ng-model="mkgl_edit.Moduleattribute" placeholder="输入模块属性" /></div>
				</td>
			</tr>
			<tr>
				<td>模块排序</td>
				<td>
					<div class="modal-div-input"><input type="number" class="modal-input none" ng-model="mkgl_edit.ModuleIndex" placeholder="输入模块属性" /></div>
				</td>
			</tr>
		</table>
	</div>
	<div class="g-modal-footer">
		<a class="btn" ng-click="cancel()">取消</a>
		<a class="btn" ng-click="postEdit()" submit-timeout>确定</a>
	</div>
</div>

