.login-zkmb-body{position: absolute;min-height: 100%; height: auto; width: 100%;background: url(../img/bg_login_zkmb.jpg) center top no-repeat;background-size: 150% auto;}
.login-zkmb{font-family: "微软雅黑";width: 495px;margin-top: 17%; }
.login-zkmb .login-main{border-radius: 4px;overflow: hidden;position: relative;}
.login-zkmb .login-header{position: relative;z-index: 10; padding: 0;margin: 0; text-align: center; height: 50px;line-height: 50px; background-color: #6A93FF;
	background: #6A93FF;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.22), inset 0px 1px 0px 0px rgba(255,255,255,0.50);
}
.login-zkmb .login-header a{display: inline-block;vertical-align:top;margin-right: 5px;}
.login-zkmb .login-header a img{vertical-align: middle;max-width: 30px; max-height: 30px;}
.login-zkmb .login-header span{font-size: 20px; color: #fff;}
.login-zkmb .login-form{position: relative;z-index: 10;height: 276px;padding-left: 44px;}
.login-zkmb .login-form .user{height: 100px;padding: 25px 0;padding-top: 40px;}
.login-zkmb .login-form .user i{float: left; display:block;width: 44px; height: 44px;background: url(../img/icon_login_user.png) no-repeat;}
.login-zkmb .login-form input:-webkit-autofill {background-color: transparent;}
.login-zkmb .login-form .password label,
.login-zkmb .login-form .user label{float: left;display:black;padding: 0;margin: 0; }
.login-zkmb .login-form input{width: 305px;border:0;border-radius: 0;background-color: transparent; outline: 0;box-shadow: 0 0 0; border-bottom: solid 2px #fff;font-weight: normal;letter-spacing: 2px; font-size: 18px; color: #fff; }
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder{
　　color: #fff !important;
}
.login-zkmb .login-form .password{height: 70px;padding: 20px 0;padding-bottom: 0;}
.login-zkmb .login-form .password i{float: left; display:block;width: 44px; height: 44px;background: url(../img/icon_login_pwd.png) no-repeat;}
.login-zkmb .login-form .password label{}
.login-zkmb .login-form .password label input{}
.login-zkmb .login-form .msg{margin-right: 44px; height: 19px; text-align: center;margin-bottom: 15px; font-size: 14px; color: #fff;}
.login-zkmb .login-form .msg b{font-weight: normal;}
.login-zkmb .login-form .login-btn{margin-right: 44px;text-align: center;}
.login-zkmb .login-form .login-btn .btn{width:132px; height: 50px; background: url(../img/icon_login_btn.png) no-repeat;outline: 0; box-shadow: 0 0 0;}
.login-zkmb .login-bg{position: absolute;z-index: 1; top: 0;left: 0; width: 100%;height: 100%;background-color: #fff; background: url(../img/icon_login_bg.png) no-repeat; background-size: 100% 100%; opacity: 0.9;}


.login-zkmb .login-form .login-btn{position: relative;}
.login-zkmb .login-form .login-btn .icon-loading{display: none; position:absolute;top: 14px; left: 208px;width: 20px; height: 20px;background: url(../img/login/loading.png) no-repeat; }
.login-zkmb .login-form .login-btn .icon-loading img{width: 20px; height: 20px;vertical-align: top;}

.login-zkmb-body .glyphicon-chevron-left{ position: absolute; padding: 30px;      left: 0;    top: 0;font-size: 26px;color: #fff;}

/*  旋转  */
.rotateIn{
	-webkit-animation:rotateIn 2s 0s ease infinite;
	-moz-animation:rotateIn 2s 0s ease infinite;
}
@-webkit-keyframes rotateIn{
	0%{-webkit-transform-origin:center center;
	-webkit-transform:rotate(-360deg);
	opacity:1}
	100%{-webkit-transform-origin:center center;
	-webkit-transform:rotate(1);
	opacity:1}
}
@-moz-keyframes rotateIn{
	0%{-moz-transform-origin:center center;
	-moz-transform:rotate(-360deg);
	opacity:1}
	100%{-moz-transform-origin:center center;
	-moz-transform:rotate(1);
	opacity:1}
}


