.m-splb{padding: 30px;padding-top: 0;}
.m-splb li{list-style: none;}
.m-splb ul{margin: 0;}
.m-splb-breadcrumb{border-bottom: solid 1px rgba(255,255,255,0.2);}
.m-splb-breadcrumb .breadcrumb{overflow: hidden;padding: 20px 0 6px 0;margin: 0; background-color: transparent;}
.m-splb-breadcrumb .breadcrumb li{position: relative; float: left;margin-right: 20px; height: 28px; line-height: 28px;}
.m-splb-breadcrumb .breadcrumb li:before{content: ">";position: absolute;right: -18px;top:0px;text-shadow: 0px 2px 4px rgba(0,0,0,0.50);font-size: 18px; color: #fff; }
.m-splb-breadcrumb .breadcrumb li:last-child:before{content: " ";}
.m-splb-breadcrumb .breadcrumb li.active{}
.m-splb-breadcrumb .breadcrumb li,
.m-splb-breadcrumb .breadcrumb li a{text-shadow: 0px 2px 4px rgba(0,0,0,0.50);font-size: 18px; color: #fff;}


.m-splb-spgl{margin-top: 23px;background-color:rgba(217,238,245,0.2);padding-bottom: 1px;}
.m-splb-spgl-h{height: 42px; background-color:rgba(217,238,245,0.2);}
.m-splb-spgl-h .title{display: inline-block;margin-left: 15px; line-height: 42px; font-size: 16px;color: #fff;}
.m-splb-spgl-h .splb-filter{float: right; margin-top: 6px;margin-right: 20px;}
.m-splb-spgl-h .splb-filter > div{display: inline-block; vertical-align: top;margin-left: 20px;}
.m-splb-spgl-h .splb-filter .filter-date{}
.m-splb-spgl-h .splb-filter .filter-date > span{float: left; display: inline-block;line-height: 30px;font-size: 14px;color: #fff;}
.m-splb-spgl-h .splb-filter .filter-date .ckb-intime{float: left;margin-left: 10px;}
.m-splb-spgl-h .splb-filter .filter-date .ckb-intime input{height: 30px; line-height: 30px;width: 170px;border: 0;border-radius: 0;outline: 0;box-shadow: 0 0 0;background-color:rgba(217,238,245,0.2);font-size: 14px; color: #fff;}
.m-splb-spgl-h .splb-filter .filter-date .ckb-intime span{color: #fff;}
.m-splb-spgl-h .splb-filter .filter-modal{}
.m-splb-spgl-h .splb-filter .filter-modal input{cursor: pointer;}
.m-splb-spgl-h .splb-filter .filter-key{}
.m-splb-spgl-h .splb-filter .filter-modal input,
.m-splb-spgl-h .splb-filter .filter-key input{padding: 0 10px; height: 30px; line-height: 30px;width: 240px;border: 0;outline: 0;border-radius: 0;box-shadow: 0 0 0;background-color:rgba(217,238,245,0.2);font-size: 14px; color: #fff;}
.m-splb-spgl-h .splb-filter .filter-btn{}
.m-splb-spgl-h .splb-filter .filter-btn a{display: block;width: 78px;height: 30px;line-height: 30px;text-align: center;border-radius: 5px;font-size: 16px;color: #fff;}
.m-splb-spgl-h .splb-filter .filter-btn a:last-child{margin-left: 20px;}
.m-splb-spgl-h .sbpz-filter .filter-key input,.m-splb-spgl-h .sbpz-filter .filter-modal input{height:30px;line-height:30px;border:none;color:#fff;font-size:14px;padding: 0 30px 0 10px;background-color: rgba(217,238,245,0.2);}
.m-splb-spgl-table{padding:30px 15px;padding-bottom: 0; min-height: 600px;}
.m-splb-spgl-table table{width: 100%;}
.m-splb-spgl-table table tr{}
.m-splb-spgl-table table tr th{text-align: center; background-color:rgba(217,238,245,0.2); border: solid 1px #fff; height: 36px;font-weight: normal; font-size: 14px; color: #fff;}
.m-splb-spgl-table table tr td{text-align: center; border: solid 1px rgba(255,255,255,0.6); height: 36px;font-size: 14px; color: #fff;}
.m-splb-spgl-table table tr th.text-left,
.m-splb-spgl-table table tr td.text-left{text-align: left;padding: 0 10px;}
.m-splb-spgl-table table tr td.pd-top{padding-top:5px;}
.m-splb-spgl-table table tr td a.cursor{color:#fff;}
.m-splb-spgl-table table tr td a.cursor:hover{color:#fff;}
.m-splb-spgl-table a{ color: #A6BEF8;}
.m-splb-spgl-table a:hover{ color: #69EDF7;}
.m-splb-spgl-table .tab-input{display: block;height: 26px;padding: 0 10px;width: 100%;border: 0;outline: 0;border-radius: 0;background-color: #6487b8;}

/*视频录播-详细页面*/
.m-splb-spgl-add .m-splb-spgl-table {min-height: auto;}
.m-splb-spgl-table table tr td:first-child{width: 14%;}
.add-shipin table tr td:first-child{text-align: left;padding-left:10px;}
/*视频录播-上传按钮*/
.add-fj-ul {float:left;}
.add-fj-ul li{text-align: left;float:none;margin: 3px 0;width: 24%;padding: 0px 5px;white-space:nowrap;}
.add-fj-ul li a{margin-left: 12px;}
.btn-splb-add{display: inline-block;float:left;min-width: 78px;padding: 0 10px;height: 30px;line-height: 28px;margin-left: 20px;text-align: center;border-radius: 5px;background-color: #DCA444;font-size: 16px;color: #fff;}
.add-fj-ul .btn-splb-add{margin-top: 0px;}
.add-shipin .g-modal-footer{text-align: left;overflow: hidden;margin: 14px 0 0px 24px;padding-bottom: 10px;}  
.add-shipin .g-modal-footer a{display: inline-block;padding: 0;margin: 0;border-radius: 5px;margin-left: 30px;width: 65px;height: 30px;line-height: 30px;background-color: #E6795E;font-size: 14px;color: #fff;}
.add-shipin .g-modal-footer a:first-child{background-color: #30B597;margin-left: 0;}
/*视频录播-详细页面-视频*/
.m-splb-spgl-add .add-shipin{padding-bottom: 20px;}
/*视频录播-视频弹窗*/
@media (min-width: 992px) {
  .modal-content{
		width: 100%;
	}
}
@media (min-width: 768px) {
  .modal-content{
		width: 100%;
	}
}
input::-webkit-input-placeholder {
color: #fff !important;
}
input:-moz-placeholder {
color: #fff !important;
}
input::-moz-placeholder {
color: #fff !important;
}
input:-ms-input-placeholder {
color: #fff !important;
}


