<div class="wrapper-md b-b m-sbgl-header">
	<div class="hidden-sm hidden-lg hidden-md m-sbgl-header-caret b-b btn-group dropdown" dropdown>
		<a type="button" class="h4" dropdown-toggle>
			设备型号管理
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a ng-click="tab_sbgl=1">全部设备</a>
			</li>
			<li class="hidden">
				<a ng-click="tab_sbgl=2">设备型号管理</a>
			</li>
			<li>
				<a ng-click="tab_sbgl=3">设备型号控制命令</a>
			</li>
		</ul>
	</div>
	<ul class="hidden-xs bg-light lter b-b nav nav-tabs" ng-init="tab_sbgl=1">
		<li class="font-thin h3" ng-class="{active:tab_sbgl==1}">
			<a ng-click="tab_sbgl=1">全部设备</a>
		</li>
		<li class="font-thin h3 hidden" ng-class="{active:tab_sbgl==2}">
			<a ng-click="tab_sbgl=2">设备型号管理</a>
		</li>
		<li class="font-thin h3" ng-class="{active:tab_sbgl==3}">
			<a ng-click="tab_sbgl=3">设备型号控制命令</a>
		</li>
	</ul>
</div>

<div class="wrapper-md m-sbgl-table">
	<div class="panel panel-default">
		<div class="tab-content tab-content">
			<div class="panel-heading tab-pane fade" ng-class="{active:tab_sbgl==1,in:tab_sbgl==1}">
				<table class="" width="100%">
					<tr>
						<td class="row wrapper-md b-b">
							<div class="input-group col-sm-5 pull-left">
								<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="userSearchText" placeholder="设备名/ID">
								<div class="input-group-btn">
									<button type="button" class="btn btn-success" ng-click="getLocations()">查&nbsp;&nbsp;&nbsp;询</button>
								</div>
							</div>
							<div class="col-sm-7 pull-left">
								<button class="btn btn-success pull-right">添加设备型号</button>
							</div>
						</td>
					</tr>
				</table>
			</div>

			<div class="panel-heading tab-pane fade hidden" ng-class="{active:tab_sbgl==2,in:tab_sbgl==2}">
				<table class="table m-b-none">
					<tr>
						<div class="input-group col-sm-8 wrapper-md">
							<input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="userSearchText" placeholder="教学楼/教室/设备名/ID">
							<div class="input-group-btn">
								<button type="button" class="btn btn-success" ng-click="getLocations()">查&nbsp;&nbsp;&nbsp;询</button>
							</div>
						</div>
					</tr>
				</table>
			</div>

			<div class="m-sbgl-table-3 panel-heading tab-pane fade" ng-class="{active:tab_sbgl==3,in:tab_sbgl==3}">
				<ul class="nav nav-tabs clearfix" ng-init="tab_sbg2=1">
					<li ng-class="{active:tab_sbg2==1}">
						<a ng-click="tab_sbg2=1">手工添加</a>
					</li>
					<li ng-class="{active:tab_sbg2==2}">
						<a ng-click="tab_sbg2=2">批量导入</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade" ng-class="{active:tab_sbg2==1,in:tab_sbg2==1}">
						<p><span>设备信息</span></p>
						<div class="row">
							<div class="col-sm-6 char-before m-b-sm">
								<select name="account" class="form-control">
									<option value="option 1">类型</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>

							<div class="col-sm-6 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">编号</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
						</div>
						<p><span>扩展属性</span></p>
						<div class="row">
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">品牌</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">型号</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-beforeN m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">颜色</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">分辨率</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">亮度</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">光源</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-beforeN m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">设备特性</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">灯泡寿命</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-beforeN m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">画面尺寸</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 char-beforeN m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">对比度</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-beforeN m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">投影镜头</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-beforeN m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">投影方式</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
						</div>
						<p><span>位置信息</span></p>
						<div class="row">
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">新校区</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">A区</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">A-1010</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
						</div>
						<p><span>管理信息</span></p>
						<div class="row">
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">电教中心/王侃</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">采购日期</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
							<div class="col-sm-4 char-before m-b-md">
								<select name="account" class="form-control">
									<option value="option 1">投入时间</option>
									<option value="option 2">option 2</option>
									<option value="option 3">option 3</option>
									<option value="option 4">option 4</option>
								</select>
							</div>
						</div>
						<div class="sbgl-t-3-b text-right clearfix">
							<button class="btn m-b-xs pull-none col-md-2 col-xs-5 btn-success">重置</button>
							<button class="btn m-b-xs pull-none col-md-2 col-md-offset-1 col-xs-5 col-xs-offset-2 btn-success">提交</button>
						</div>
					</div>
					<div class="tab-pane fade" ng-class="{active:tab_sbg2==2,in:tab_sbg2==2}">
						<button class="btn m-b-xs btn-default">上传设备表格，支持excle格式</button>
						<button class="btn m-b-xs btn-default">下载设备表格</button>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="panel-body b-b b-light">-->
		<!--Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>-->
		<!--</div>-->
		<p class="m-sbgl-table-header panel-heading"><span>设备列表</span></p>
		<div class="xhgl-table">
			<ul class="table-header clearfix">
				<li><span class="text-ellipsis">分类名称</span></li>
				<li><span class="text-ellipsis">设备型号ID</span></li>
				<li><span class="text-ellipsis">描述</span></li>
				<li><span class="text-ellipsis">类型</span></li>
				<li><span class="text-ellipsis">页面</span></li>
				<li><span class="text-ellipsis">图片</span></li>
				<li><span class="text-ellipsis">操作</span></li>
			</ul>
			<ul class="table-body">
				<li ng-repeat="item in xhgl_list | filter:{'Pld':null}" class="tr" ng-class="{'active':item.bul}">
					<ul class="body-header" ng-class="{'bg-color':!isLeaf(item.Id)}">
						<li ng-click="isOpen(item)">
							<a class="xhgl-tree" ng-class="{'active':item.bul}"><i class="fa" ng-class="{'bole':!isLeaf(item.Id),'leaf':isLeaf(item.Id)}"></i><span>{{item.Name}}</span></a>
						</li>
						<li>{{item.Id}}</li>
						<li>{{item.Description}}</li>
						<li>{{item.Type}}</li>
						<li>{{item.PageFileName}}</li>
						<li>{{item.ImgFileName}}</li>
						<li>
							<a>查看</a>
							<a>修改</a>
							<a>删除</a>
						</li>
					</ul>
					<ul class="td-main">
						<li ng-repeat="item2 in xhgl_list | filter:{'Pld':item.Id}" class="tr" ng-class="{'active':item2.bul}">
							<ul class="body-header" ng-class="{'bg-color':!isLeaf(item2.Id)}">
								<li ng-click="isOpen(item2)">
									<a class="xhgl-tree"><em></em><i class="fa" ng-class="{'bole':!isLeaf(item2.Id),'leaf':isLeaf(item2.Id)}"></i><span>{{item2.Name}}</span></a>
								</li>
								<li>{{item2.Id}}</li>
								<li>{{item2.Description}}</li>
								<li>{{item2.Type}}</li>
								<li>{{item2.PageFileName}}</li>
								<li>{{item2.ImgFileName}}</li>
								<li>
									<a>查看</a>
									<a>修改</a>
									<a>删除</a>
								</li>
							</ul>
							<ul class="td-main">
								<li ng-repeat="item3 in xhgl_list | filter:{'Pld':item2.Id}" class="tr" ng-class="{'active':item3.bul}">
									<ul class="body-header" ng-class="{'bg-color':!isLeaf(item3.Id)}">
										<li ng-click="isOpen(item3)">
											<a class="xhgl-tree"><em></em><em></em><i class="fa" ng-class="{'bole':isLeaf(item3.Id),'leaf':isLeaf(item3.Id)}"></i><span>{{item3.Name}}</span></a>
										</li>
										<li>{{item3.Id}}</li>
										<li>{{item3.Description}}</li>
										<li>{{item3.Type}}</li>
										<li>{{item3.PageFileName}}</li>
										<li>{{item3.ImgFileName}}</li>
										<li>
											<a>查看</a>
											<a>修改</a>
											<a>删除</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</div>


