<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
    <span ng-if="items.str == 'add'">添加角色</span>
    <span ng-if="items.str == 'details'">查看角色</span>
    <span ng-if="items.str == 'edit'">修改角色</span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
    <div class="m-modal-content">
      <p class="title">角色信息</p>
      <div class="content" ng-if="items.str !== 'add'">
        <span class="text"><i class="fa f-required"></i>角色Id</span>
        <input class="form-control" type="text" ng-model="form.Id" ng-readonly="items.str !== 'add'" placeholder="输入角色名称"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>角色名称</span>
        <input class="form-control" type="text" ng-model="form.Rolesname" ng-readonly="details" placeholder="输入角色名称"/>
      </div>
    </div>
	</div>
  <div class="g-modal-footer" ng-if="items.str != 'details'">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
  </div>
</div>
