<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg sbjk">
			<div class="panel panel-default m-sbjk-nav">
				<!--  筛选    -->

				<div class="panel-heading">
					<ul class="sbjk-nav">
						<li ng-repeat="item in schoolItems" ng-click="school_tab(item)" ng-class="{'active':item.checkbox}"><a>{{item.Campusname}}</a></li>
					</ul>
					<div class="sbjk-nav-main">
						<div class="nav-floor clearfix">
							<ul>
								<li ng-repeat="item in floorItems"><label class="i-checks"><span>{{item.Buildingname}}</span><input type="checkbox" name="post[]" ng-click="floor_checkbox(item)" ng-model="item.checkbox"><i class="fa fa-check"></i></label></li>
							</ul>
							<div class="nav-yichang">
								<div class="title">异常范围<i class="fa fa-caret-down"></i></div>
								<ul class="list">
									<li><label class="i-checks"><input type="checkbox" name="post[]" ng-model="anomalyExtension.stop"><i class="fa fa-check"></i>停用</label></li>
									<li><label class="i-checks"><input type="checkbox" name="post[]" ng-model="anomalyExtension.warning"><i class="fa fa-check"></i>预警</label></li>
									<li><label class="i-checks"><input type="checkbox" name="post[]" ng-model="anomalyExtension.offline"><i class="fa fa-check"></i>离线</label></li>
								</ul>
							</div>
						</div>

					</div>
				</div>


				<!--  楼层    -->
				<div class="sbjk-room">
					<div class="m-sbjk-room-one" ng-repeat="item in classroomItems">
						<p class="one-title">{{item.BuildingName}}</p>
						<div class="one-main">
							<div class="media" ng-repeat="item2 in item.data">
								<div class="media-left" ng-click="openPic(item2)">
									<span>{{item2.FloorName}}</span>
								</div>
								<div class="media-body">
									<ul>
										<li ng-repeat="item3 in item2.data" ng-class="
											{'ok':(item3.HaveStop != 1 && item3.HaveAlert != 1 && item3.HaveOffline != 1),
											 'error':((item3.HaveStop == 1 && anomalyExtension.stop ) || (item3.HaveAlert == 1 &&  anomalyExtension.warning ) || (item3.HaveOffline == 1 &&  anomalyExtension.offline )),
											 'null':item3.ClassroomId == -1}">
											 <a ui-sref="app.sbgl.sbjk.list({'classroomid':item3.ClassroomId})" ng-if="item3.ClassroomId != -1" popover="{{item3.ClassroomName}} {{(item3.HaveStop != 1 && item3.HaveAlert != 1 && item3.HaveOffline != 1)?'正常':''}}{{((item3.HaveStop == 1 && anomalyExtension.stop ) || (item3.HaveAlert == 1 &&  anomalyExtension.warning ) || (item3.HaveOffline == 1 &&  anomalyExtension.offline ))?'异常':''}}{{(item3.ClassroomId == -1)?'空':''}}" popover-trigger="mouseenter">
											 	<span>{{item3.ClassroomName}}</span>
												<i class="run" ng-if="item3.HaveRun == 1"></i>
											 </a>
										</li>
									</ul>
								</div>
								<div class="media-right">
									<div class="right-btn"><a class="btn btn-info" ng-click="tierOff(item2)" submit-timeout>一键关闭</a></div>
								</div>
							</div>
						</div>
					</div>


					<div class="room-ts hidden">
						<span class="bl">正常</span>
						<span class="ye">异常</span>
						<span class="fei hidden">空</span>
					</div>
				</div>
				<div class="clear"></div>

			</div>
		</div>
	</div>
</div>





