<div class="m-splb-details wrapper-md">
	<!--  视频录播课程详情  -->
	<ul class="details-nav nav nav-tabs">
		<li class="active">
			<a>课程详情</a>
		</li>
		<li>
			<a>相关视频</a>
		</li>
	</ul>
	<div class="details-list panel panel-default">
		<table class="table m-b-none m-sbgl-table-1 b-b b-t">
			<tbody>
				<tr>
					<td class="col">课程详情：</td>
					<td class="col">
						<a class="line34">英语基础课程</a>
					</td>
				</tr>
				<tr>
					<td class="col">课程属性：</td>
					<td class="col">
						<span class="line34">专业课</span>
					</td>
				</tr>
				<tr>
					<td class="col">学院：</td>
					<td class="col">
						<span class="line34">外国语学院</span>
					</td>
				</tr>
				<tr>
					<td class="col">专业：</td>
					<td class="col">
						<span class="line34">英语系</span>
					</td>
				</tr>
				<tr>
					<td class="col">授课老师：</td>
					<td class="col">
						<span class="line34">王侃</span>
					</td>
				</tr>
				<tr>
					<td class="col">评论权限：</td>
					<td class="col">
						<select class="form-control">
							<option value="">--请选择--</option>
							<option ng-model="list_school" ng-repeat="x in list_school" value="{{x.Campusid}}">{{x.Campusname}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="col">评论审核：</td>
					<td class="col">
						<select class="form-control">
							<option value="">--请选择--</option>
							<option ng-model="list_school" ng-repeat="x in list_school" value="{{x.Campusid}}">{{x.Campusname}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="col">封面：</td>
					<td class="col img">
						<a><img src="../img/b20.jpg"></a>
						<i></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	
</div>