<div class="g-modal m-modal-classroom"  modal-move>
	<div class="g-modal-header">
		<span ng-if="items.active.level == 0"><span ng-if="items.str == 'add'">学科门类添加</span><span ng-if="items.str == 'edit'">学科门类修改</span></span>
		<span ng-if="items.active.level == 1"><span ng-if="items.str == 'add'">一级学科添加</span><span ng-if="items.str == 'edit'">一级学科修改</span></span>
		<span ng-if="items.active.level == 2"><span ng-if="items.str == 'add'">二级学科添加</span><span ng-if="items.str == 'edit'">二级学科修改</span></span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
    <div class="m-modal-content" ng-if="items.active.level == 0">
      <p class="title">学科门类信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>学科代码</span>
        <input class="form-control" type="text" ng-model="form.subject.Subjectcode" ng-change="changeSubjectcode()" ng-readonly="items.str == 'edit'" placeholder="一级学科代码必须是4位以内整数"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>学科名称</span>
        <input class="form-control" type="text" ng-model="form.subject.Subjectname" placeholder="输入学科门类名称"/>
      </div>
    </div>
    <div class="m-modal-content" ng-if="items.active.level == 1">
      <p class="title">一级学科信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>学科代码</span>
        <input class="form-control" type="text" ng-model="form.subject.Subjectcode" ng-change="changeSubjectcode()" ng-readonly="items.str == 'edit'" placeholder="二级学科代码必须是上一级代码加4位整数"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>学科名称</span>
        <input class="form-control" type="text" ng-model="form.subject.Subjectname" placeholder="输入一级学科名称"/>
      </div>
    </div>
    <div class="m-modal-content" ng-if="items.active.level == 2">
      <p class="title">二级学科信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>学科代码</span>
        <input class="form-control" type="text" ng-model="form.subject.Subjectcode" ng-change="changeSubjectcode()" ng-readonly="items.str == 'edit'" placeholder="三级学科代码必须是上一级代码加4位整数"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>级学科名称</span>
        <input class="form-control" type="text" ng-model="form.subject.Subjectname" placeholder="输入二级学科名称"/>
      </div>
    </div>
	</div>
  <div class="g-modal-footer">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok('submit','12')">保存</button>
  </div>
</div>
