<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>定时条件选择</span>
		<div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
		<div class="m-modal-content">
			<p class="title">定时条件</p>
			<div class="content">
				<span class="text">时间</span>
				<input class="form-control" type="text" ng-model="form.UploadTime" ng-click="showDate()" id="jd_begindate" placeholder="选择时间" />
			</div>
			<div class="content">
				<span class="text">重复</span>
				<div class="form-select">
					<ui-select ng-model="form.rptedValueItem" ng-disabled="items.operate=='look'?true:false" theme="bootstrap" ng-change="changeSelect(form.rptedValueItem)">
						<ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in timing | filter: $select.search">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="content" ng-if="form.rpted == '自定义'">
				<span class="text">自定义</span>
				<div class="form-checkbox">
					<p ng-repeat='item in Aweek' class="checkboxFive">
            <label class="i-checks" for="{{item.value}}"><input id="{{item.value}}" type="checkbox" name="post[]" ng-model="item.checked">{{item.name}}<i class="fa fa-check"></i></label>
						<!--<input id="{{item.value}}" ng-model='item.checked' type='checkbox' name='week' class="regular-checkbox big-checkbox" />-->
						<!--<label for="{{item.value}}"></label>-->
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="g-modal-footer" ng-if="items.operate == 'edit' || items.operate == 'add'">
		<button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
		<button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
	</div>
</div>



