/*  设备监控首页       */


/*   导流分析       */

.m-jsdl-dlfx{}
.m-jsdl-dlfx-filter{margin: 30px 10px 26px 10px; text-align: right;}
.m-jsdl-dlfx-filter > div{margin-left: 20px;margin-bottom: 10px; vertical-align: top;}
.m-jsdl-dlfx-filter .filter-date{display: inline-block;}
.m-jsdl-dlfx-filter .filter-date span{float: left; display: block;line-height: 32px;margin-right: 10px; font-size: 16px; color: #fff;}
.m-jsdl-dlfx-filter .filter-date .ckb-intime{float: left;vertical-align: top;}
.m-jsdl-dlfx-filter .filter-date .ckb-intime input{width: 180px; height: 32px;line-height: 32px;border: 0;border-radius: 0;box-shadow: 0 0 0; background-color: #376ab1; padding: 0 10px;margin: 0;font-size: 16px; color: #fff;  }
.m-jsdl-dlfx-filter .filter-date .ckb-intime span{margin: 0;}
.m-jsdl-dlfx-filter .filter-js{display: inline-block;margin-left: 50px;}
.m-jsdl-dlfx-filter .filter-school select,
.m-jsdl-dlfx-filter .filter-house select,
.m-jsdl-dlfx-filter .filter-floor select,
.m-jsdl-dlfx-filter .filter-js select{height: 32px; line-height: 32px;padding: 0 10px; border: 0; outline: 0;border-radius: 0;box-shadow: 0 0 0; background-color:#376ab1;font-size: 16px; color: #fff;}
.m-jsdl-dlfx-filter .filter-js select option{}
.m-jsdl-dlfx-filter .filter-school{display: inline-block;}
.m-jsdl-dlfx-filter .filter-school select{}
.m-jsdl-dlfx-filter .filter-school select option{}
.m-jsdl-dlfx-filter .filter-house{display: inline-block;}
.m-jsdl-dlfx-filter .filter-house select{}
.m-jsdl-dlfx-filter .filter-house select option{}
.m-jsdl-dlfx-filter .filter-floor{display: inline-block;}
.m-jsdl-dlfx-filter .filter-floor select{}
.m-jsdl-dlfx-filter .filter-floor select option{}
.m-jsdl-dlfx-filter .filter-btn{display: inline-block;margin-left: 30px;}
/*  热力图   */
.m-jsdl-dlfx-rlt{background-color: #519af9;}
.m-jsdl-dlfx-rlt > h4{height: 60px;line-height: 60px; margin: 0;padding: 0 15px; background-color: #488adf;font-size: 18px; color: #FFFFFF;}
.m-jsdl-dlfx-rlt > div{height: 370px; text-align: center;margin: 20px;}
.m-jsdl-dlfx-rlt > div img{max-height: 100%; max-width: 100%;}
.m-jsdl-dlfx-rlt > p{text-align: center;margin: 0; height: 60px; line-height: 60px;background-color: #62a4f9; font-size: 18px; color: #fff;}

.m-jsdl-dlfx-rlt .cvs{height: auto; text-align: center;padding-top: 20px;padding-bottom: 20px;margin: 0;}
.m-jsdl-dlfx-rlt .rlt{position: relative;display: inline-block;}
.m-jsdl-dlfx-rlt .rlt .img{}
.m-jsdl-dlfx-rlt .rlt .map{position: absolute;top: 0;left: 0;}

/*  人流统计   */
.m-jsdl-dlfx-rltj{margin-top: 30px; background-color:#3BCFC2;}
.m-jsdl-dlfx-rltj .title{height: 60px;line-height: 60px; margin: 0;padding: 0 15px; background-color:rgba(0,0,0,0.1);font-size: 18px; color: #FFFFFF;}
.m-jsdl-dlfx-rltj .cvs{margin: 0 30px; height: 360px;margin-bottom: -60px;}
.m-jsdl-dlfx-rltj .cvs .main{width: 100%;position: relative;z-index: 10;}
/*   人群分析     */
.m-jsdl-dlfx-rqfx{margin-top: 30px; background-color:#e8bc73;}
.m-jsdl-dlfx-rqfx .title{height: 60px;line-height: 60px; margin: 0;padding: 0 15px; background-color:rgba(0,0,0,0.1);font-size: 18px; color: #FFFFFF;}
.m-jsdl-dlfx-rqfx .cvs{width: 95%;margin: 0 auto;height: 360px;margin-bottom: -60px;}
.m-jsdl-dlfx-rqfx .fot{}
.m-jsdl-dlfx-rqfx .fot > div{ width: 96%;margin: 0 auto;}
.m-jsdl-dlfx-rqfx .fot > div > div{font-size: 16px; color: #fff;}

.m-jsdl-dlfx-rltj .fot,
.m-jsdl-dlfx-rqfx .fot {
    height: 60px;
    line-height: 60px;
    background-color: rgba(255,255,255,0.1);
}



/*    教室监控-时时监控    */
/*  人数     */
.m-jsdl-sstj-h{margin-top: 5px; height: 70px; line-height: 70px;background: url(../../img/jsdl/jsjk/sstj/header.png) no-repeat;background-size: 100% 100%;}
.m-jsdl-sstj-h div{text-align: center; font-size: 18px;color: #fff;}
/*   实时统计    */
.m-jsdl-sstj-title{color: #fff;margin-top: 30px;}


/*  实时视频    */
.m-jsdl-dlfx-rlt{background-color: #519af9;margin-top: 30px;}
.m-jsdl-dlfx-rlt > h4{height: 60px;line-height: 60px; margin: 0;padding: 0 15px; background-color: #488adf;font-size: 18px; color: #FFFFFF;}
.m-jsdl-dlfx-rlt > div{height: 370px; text-align: center;padding: 30px;}
.m-jsdl-dlfx-rlt > div img{max-height: 100%; max-width: 100%;}
.m-jsdl-dlfx-rlt > p{text-align: center;margin: 0; height: 60px; line-height: 60px;background-color: #62a4f9; font-size: 18px; color: #fff;}
/*  实时人流图   */
.m-jsdl-dlfx-rltj{margin-top: 30px; background-color:#3BCFC2;}
.m-jsdl-dlfx-rltj .title{height: 60px;line-height: 60px; margin: 0;padding: 0 30px; background-color:rgba(0,0,0,0.1);font-size: 18px; color: #FFFFFF;}
.m-jsdl-dlfx-rltj .cvs{height: 350px;}
.m-jsdl-dlfx-rltj .hint{position: relative; height: 60px; line-height: 60px; text-align: center; background-color:#58cac0;}
.m-jsdl-dlfx-rltj .hint a{font-size: 20px; color: #fff;}
.m-jsdl-dlfx-rltj .hint .hint-txt{position: absolute; top: 18px; left: 20px;}
.m-jsdl-dlfx-rltj .hint .hint-txt span{display: inline-block;margin-right: 20px;line-height: 22px; vertical-align: top; font-size: 16px;color: #fff;}
.m-jsdl-dlfx-rltj .hint .hint-txt span i{display: inline-block;margin-right: 10px;margin-top: 3px; vertical-align: top; width: 16px; height: 16px;background-color: #fff;}
.m-jsdl-dlfx-rltj .hint .hint-txt span i.ye{background-color: #F8E71C;}


/*   实时统计      */
.m-jsdl-sstj-table{margin-top: 30px;background-color:rgba(217,238,245,0.2);}
.m-jsdl-sstj-table > h4{height: 42px; line-height: 42px;margin: 0;padding-left: 30px;background-color:rgba(217,238,245,0.2); font-size: 18px; color: #fff;}
.m-jsdl-sstj-table .table-main{padding: 30px;}



/*  实时出勤     */
.m-jsdl-sstj .m-sbjk-room-one .media .media-body ul li.it50{background-color:#f17373;}  /*  小于50%  */
.m-jsdl-sstj .m-sbjk-room-one .media .media-body ul li.in50-80{background-color:#ecd876;}  /*  50%-80%  */
.m-jsdl-sstj .m-sbjk-room-one .media .media-body ul li.gt80{background-color:#69e688;}  /*  大于80%  */