<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span ng-if="items.active.level == 0"><span ng-if="items.str == 'add'">校区添加</span><span ng-if="items.str == 'edit'">校区修改</span></span>
		<span ng-if="items.active.level == 1"><span ng-if="items.str == 'add'">楼栋添加</span><span ng-if="items.str == 'edit'">楼栋修改</span></span>
		<span ng-if="items.active.level == 2"><span ng-if="items.str == 'add'">楼层添加</span><span ng-if="items.str == 'edit'">楼层修改</span></span>
		<span ng-if="items.active.level == 3"><span ng-if="items.str == 'add'">教室添加</span><span ng-if="items.str == 'edit'">教室修改</span></span>
    <div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
    <div class="m-modal-content" ng-if="items.active.level == 0">
      <p class="title">校区信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>校区代码</span>
        <input class="form-control" type="text" ng-model="form.campus.Campuscode" ng-change="changeSubjectcode()" placeholder="输入校区代码"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>校区名称</span>
        <input class="form-control" type="text" ng-model="form.campus.Campusname" placeholder="输入校区名称"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>显示图片</span>
        <ul class="add-img-ul upimg">
          <li ng-repeat="item in upimglist">
            <span><img height="100" width="100"  ng-src="{{item.Result}}" /></span>
            <i class="icon-close" ng-click="closePic($index)"></i>
          </li>
        </ul>
        <span class="upimg" up-img="" ng-class="{'hidden':upimglist.length > 0}"><input type="file" name="file" value="" /><span class="btn btn-info m-b-xs w-xs">上传</span></span>
      </div>
    </div>
    <div class="m-modal-content" ng-if="items.active.level == 1">
      <p class="title">楼栋信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>楼栋代码</span>
        <input class="form-control" type="text" ng-model="form.building.Buildingcode" ng-change="changeSubjectcode()" placeholder="输入楼栋代码"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>楼栋名称</span>
        <input class="form-control" type="text" ng-model="form.building.Buildingname" placeholder="输入楼栋名称"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>显示图片</span>
        <ul class="add-img-ul upimg">
          <li ng-repeat="item in upimglist">
            <span><img height="100" width="100"  ng-src="{{item.Result}}" /></span>
            <i class="icon-close" ng-click="closePic($index)"></i>
          </li>
        </ul>
        <span class="upimg" up-img="" ng-class="{'hidden':upimglist.length > 0}"><input type="file" name="file" value="" /><span class="btn btn-info m-b-xs w-xs">上传</span></span>
      </div>
    </div>
    <div class="m-modal-content" ng-if="items.active.level == 2">
      <p class="title">楼层信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>楼层代码</span>
        <input class="form-control" type="text" ng-model="form.floors.Floorscode" ng-change="changeSubjectcode()" placeholder="输入楼层代码"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>楼栋名称</span>
        <input class="form-control" type="text" ng-model="form.floors.Floorname" placeholder="输入楼层名称"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>显示图片</span>
        <ul class="add-img-ul upimg">
          <li ng-repeat="item in upimglist">
            <span><img height="100" width="100"  ng-src="{{item.Result}}" /></span>
            <i class="icon-close" ng-click="closePic($index)"></i>
          </li>
        </ul>
        <span class="upimg" up-img="" ng-class="{'hidden':upimglist.length > 0}"><input type="file" name="file" value="" /><span class="btn btn-info m-b-xs w-xs">上传</span></span>
      </div>
    </div>
    <div class="m-modal-content" ng-if="items.active.level == 3">
      <p class="title">教室信息</p>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>教室代码</span>
        <input class="form-control" type="text" ng-model="form.classrooms.Classroomscode" ng-change="changeSubjectcode()" placeholder="输入教室代码"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required"></i>教室名称</span>
        <input class="form-control" type="text" ng-model="form.classrooms.Classroomsname" placeholder="输入教室名称"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>座位数</span>
        <input class="form-control" type="text" ng-model="form.classrooms.Seatsnumbers" placeholder="输入座位数"/>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>教室属性</span>
        <div class="form-select">
          <ui-select  ng-model="form.classrooms.ClassroomstypeItem" theme="bootstrap" ng-change="changeClassroomstypeItem(form.classrooms.ClassroomstypeItem)">
            <ui-select-match placeholder="选择教室属性">{{$select.selected.title}}</ui-select-match>
            <ui-select-choices repeat="item in form.classrooms.ClassroomstypeItems | filter: $select.search">
              <div ng-bind-html="item.title | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="content">
        <span class="text"><i class="fa f-required off"></i>显示图片</span>
        <ul class="add-img-ul upimg">
          <li ng-repeat="item in upimglist">
            <span><img height="100" width="100"  ng-src="{{item.Result}}" /></span>
            <i class="icon-close" ng-click="closePic($index)"></i>
          </li>
        </ul>
        <span class="upimg" up-img="" ng-class="{'hidden':upimglist.length > 0}"><input type="file" name="file" value="" /><span class="btn btn-info m-b-xs w-xs">上传</span></span>
      </div>
      <div class="content">
        <span class="text">备注</span>
        <textarea class="form-control" rows="4" ng-model="form.classrooms.Notes" placeholder="输入备注"></textarea>
      </div>
    </div>
	</div>
  <div class="g-modal-footer">
    <button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
    <button class="btn m-b-xs w-xs btn-info" ng-click="ok('submit','12')">保存</button>
  </div>
</div>
