<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>添加状态值编码</span>
		<div class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></div>
	</div>
	<div class="g-modal-body">
		<div class="m-modal-content">
			<p class="title">基本信息</p>
			<div class="content">
				<span class="text"><i class="fa f-required"></i>状态编码</span>
				<input class="form-control" type="text" ng-model="form.StatusValueCode" placeholder="输入状态编码" />
			</div>
			<div class="content">
				<span class="text"><i class="fa f-required"></i>状态名称</span>
				<input class="form-control" type="text" ng-model="form.StatusValueName" placeholder="输入状态名称" />
			</div>
		</div>
	</div>
	<div class="g-modal-footer">
		<button class="btn m-b-xs w-xs btn-default" ng-click="cancel()">取消</button>
		<button class="btn m-b-xs w-xs btn-info" ng-click="ok()">保存</button>
	</div>
</div>



