.m-sbjk{padding: 30px;padding-top: 0;}
.m-sbjk li{list-style: none;}
.m-sbjk ul{margin: 0;}
.m-sbjk-breadcrumb{border-bottom: solid 1px rgba(255,255,255,0.2);}
.m-sbjk-breadcrumb .breadcrumb{overflow: hidden;padding: 20px 0 6px 0;margin: 0; background-color: transparent;}
.m-sbjk-breadcrumb .breadcrumb li{position: relative; float: left;margin-right: 20px; height: 28px; line-height: 28px;}
.m-sbjk-breadcrumb .breadcrumb li:before{content: ">";position: absolute;right: -18px;top:0px;text-shadow: 0px 2px 4px rgba(0,0,0,0.50);font-size: 18px; color: #fff; }
.m-sbjk-breadcrumb .breadcrumb li:last-child:before{content: " ";}
.m-sbjk-breadcrumb .breadcrumb li.active{}
.m-sbjk-breadcrumb .breadcrumb li,
.m-sbjk-breadcrumb .breadcrumb li a{text-shadow: 0px 2px 4px rgba(0,0,0,0.50);font-size: 18px; color: #fff;}

/*   设备日志 / 设备管理      */
.m-sbgl-sbrz{margin-top: 23px;background-color:rgba(217,238,245,0.2);padding-bottom: 1px;}
.m-sbgl-sbrz-h{height: 42px; background-color:rgba(217,238,245,0.2);}
.m-sbgl-sbrz-h .title{display: inline-block;margin-left: 15px; line-height: 42px; font-size: 16px;color: #fff;}
.m-sbgl-sbrz-h .sbrz-filter{float: right; margin-top: 6px;margin-right: 20px;}
.m-sbgl-sbrz-h .sbrz-filter > div{display: inline-block; vertical-align: top;margin-left: 20px;}
.m-sbgl-sbrz-h .sbrz-filter .filter-date{}
.m-sbgl-sbrz-h .sbrz-filter .filter-date > span{float: left; display: inline-block;line-height: 30px;font-size: 14px;color: #fff;}
.m-sbgl-sbrz-h .sbrz-filter .filter-date .ckb-intime{float: left;margin-left: 10px;}
.m-sbgl-sbrz-h .sbrz-filter .filter-date .ckb-intime input{height: 30px; line-height: 30px;width: 170px;border: 0;border-radius: 0;outline: 0;box-shadow: 0 0 0;background-color:rgba(217,238,245,0.2);font-size: 14px; color: #fff;}
.m-sbgl-sbrz-h .sbrz-filter .filter-date .ckb-intime span{color: #fff;}
.m-sbgl-sbrz-h .sbrz-filter .filter-modal{}
.m-sbgl-sbrz-h .sbrz-filter .filter-modal input{cursor: pointer;}
.m-sbgl-sbrz-h .sbrz-filter .filter-key{}
.m-sbgl-sbrz-h .sbrz-filter .filter-modal input,
.m-sbgl-sbrz-h .sbrz-filter .filter-key input{padding: 0 10px; height: 30px; line-height: 30px;width: 170px;border: 0;outline: 0;border-radius: 0;box-shadow: 0 0 0;background-color:rgba(217,238,245,0.2);font-size: 14px; color: #fff;}
.m-sbgl-sbrz-h .sbrz-filter .filter-btn{}
.m-sbgl-sbrz-h .sbrz-filter .filter-btn a{display: block;width: 78px;height: 30px;line-height: 30px;text-align: center;border-radius: 5px;font-size: 16px;color: #fff;}
.m-sbgl-sbrz-h .sbrz-filter .filter-btn a:last-child{margin-left: 20px;}

.m-sbgl-sbrz-table{padding:30px 15px;padding-bottom: 0; min-height: 600px;}
.m-sbgl-sbrz-table table{width: 100%;}
.m-sbgl-sbrz-table table tr{}
.m-sbgl-sbrz-table table tr th{text-align: center; background-color:rgba(217,238,245,0.2); border: solid 1px #fff; height: 36px;font-weight: normal; font-size: 14px; color: #fff;}
.m-sbgl-sbrz-table table tr td{text-align: center; border: solid 1px rgba(255,255,255,0.6); height: 36px;font-size: 14px; color: #fff;}
.m-sbgl-sbrz-table table tr th.text-left,
.m-sbgl-sbrz-table table tr td.text-left{text-align: left;padding: 0 10px;}
.m-sbgl-sbrz-table a{ color: #A6BEF8;}
.m-sbgl-sbrz-table a:hover{ color: #69EDF7;}

/*.m-sbgl-sbrz-page{margin: 30px;}*/


input::-webkit-input-placeholder {
color: #fff !important;
}
input:-moz-placeholder {
color: #fff !important;
}
input::-moz-placeholder {
color: #fff !important;
}
input:-ms-input-placeholder {
color: #fff !important;
}


