<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>查看</span>
		<div class="modal-close" ng-click="cancel()"><i class="icon-close-modal"></i></div>
	</div>
	<div class="g-modal-body m-modal-classroom-body">
		<table>
			<tr>
				<td>模块图标</td>
				<td>
					<span class="m-l-md">{{gngl_details.Functionicon}}</span>
				</td>
			</tr>
			<tr>
				<td>功能名称</td>
				<td>
					<span class="m-l-md">{{gngl_details.Functionname}}</span>
				</td>
			</tr>
			<tr>
				<td>所属模块ID</td>
				<td>
					<span class="m-l-md">{{gngl_details.Systemmoduleid}}</span>
				</td>
			</tr>
			<tr>
				<td>功能代码</td>
				<td>
					<span class="m-l-md">{{gngl_details.Functioncode}}</span>
				</td>
			</tr>
			<tr>
				<td>功能地址</td>
				<td>
					<span class="m-l-md">{{gngl_details.Functionsurl}}</span>
				</td>
			</tr>
			<tr>
				<td>功能属性</td>
				<td>
					<span class="m-l-md">{{gngl_details.Functionsattribute}}</span>
				</td>
			</tr>
			<tr>
				<td>功能描述</td>
				<td>
					<span class="m-l-md">{{gngl_details.FunctionDescribe}}</span>
				</td>
			</tr>
			
		</table>
	</div>
	<div class="g-modal-footer hidden">
		<a class="btn" ng-click="cancel()">取消</a>
		<a class="btn" ng-click="ok()" submit-timeout>确定</a>
	</div>
</div>


