<div class="g-modal m-modal-classroom" modal-move>
	<div class="g-modal-header">
		<span>教室/设备位置选择</span>
		<div class="modal-close" ng-click="cancel()"><i class="icon-close-modal"></i></div>
	</div>
	<div class="g-modal-body m-modal-classroom-body">
		<table>
			<tr>
				<td>校区</td>
				<td>
					<select class="modal-select" ng-model="school.schoolList" ng-change="changeSelect('school')">
						<option value="" selected="selected">选择校区</option>
						<option value="{{item.Campusid}}" ng-repeat="item in school.schoolItems">{{item.Campusname}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>教学楼</td>
				<td>
					<select class="modal-select" ng-model="building.buildingList" ng-change="changeSelect('building')">
						<option value="" selected="selected">选择教学楼</option>
						<option value="{{item.Buildingid}}" ng-repeat="item in building.buildingItems">{{item.Buildingname}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>楼层</td>
				<td>
					<select class="modal-select" ng-model="floors.floorsList" ng-change="changeSelect('floor')">
						<option value="" selected="selected">选择楼层</option>
						<option value="{{item.Floorsid}}" ng-repeat="item in floors.floorsItems">{{item.Floorname}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>教室</td>
				<td>
					<select class="modal-select" ng-model="classroom.classroomList" ng-change="changeSelect('room')">
						<option value="" selected="selected">选择教室</option>
						<option value="{{item.Classroomid}}" ng-repeat="item in classroom.classroomItems">{{item.Classroomsname}}</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="g-modal-footer">
		<a class="btn" ng-click="cancel()">取消</a>
		<a class="btn" ng-click="ok()" submit-timeout>确定</a>
	</div>
</div>