<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg">
			<div class="panel panel-default">
				<div class="panel-heading">
					查询条件
				</div>
				<div class="m-jckc-add">
					<ul>
						<li>
							<span class="add-title">学院</span>
							<div>
								<div class="form-select">
									<ui-select multiple ng-model="college.selectcollegeitems" theme="bootstrap" ng-disabled="disabled">
			                            <ui-select-match placeholder="请选择学院">{{$item.Collegename}}</ui-select-match>
			                            <ui-select-choices repeat="item in college.collegelist | propsFilter: {Collegename: $select.search, Campusid: $select.search}">
			                                <div ng-bind-html="item.Collegename | highlight: $select.search"></div>
			                            </ui-select-choices>
			                        </ui-select>
								</div>
							</div>
						</li>
						
						<li>
							<span class="add-title">专业</span>
							<div>
								<div class="form-select">
									<ui-select multiple ng-model="major.selectmajoritems" theme="bootstrap" ng-disabled="disabled">
			                            <ui-select-match placeholder="请选择专业">{{$item.Majorname}}</ui-select-match>
			                            <ui-select-choices repeat="item in major.majorlist | propsFilter: {Majorname: $select.search, Collegeid: $select.search}">
			                                <div ng-bind-html="item.Majorname | highlight: $select.search"></div>
			                            </ui-select-choices>
			                        </ui-select>
								</div>
							</div>
						</li>
						
						<li>
							<span class="add-title">老师</span>
							<div>
								<div class="form-select">
									<ui-select multiple ng-model="Teacher.selectteacheritem" theme="bootstrap" ng-disabled="disabled">
			                            <ui-select-match placeholder="请选择授课老师">{{$item.Truename}}</ui-select-match>
			                            <ui-select-choices repeat="item in Teacher.Teacherlist | propsFilter: {Truename: $select.search, Loginuser: $select.search}">
			                                <div ng-bind-html="item.Truename | highlight: $select.search"></div>
			                            </ui-select-choices>
			                        </ui-select>
								</div>
							</div>
						</li>
						
						<li>
							<span class="add-title">班级</span>
							<div>
								<div class="form-select">
									<ui-select multiple ng-model="classe.selectclasseitems" theme="bootstrap" ng-disabled="disabled">
			                            <ui-select-match placeholder="请选择班级">{{$item.Classesname}}</ui-select-match>
			                            <ui-select-choices repeat="item in classe.classelist | propsFilter: {Classesname: $select.search, Majorid: $select.search}">
			                                <div ng-bind-html="item.Classesname | highlight: $select.search"></div>
			                            </ui-select-choices>
			                        </ui-select>
								</div>
							</div>
						</li>
						
						<li>
							<span class="add-title">时间</span>
							<div>
								<div class="ckb-time">
									<input type="text" ng-model="form.Begindatestr" id="begindate" ng-click="showFromDate()" class="form-control pull-left" readonly="readonly" placeholder="开始时间" />
									<span>-</span>
									<input type="text" ng-model="form.Endatestr" id="enddate" ng-click="showToDate()" class="form-control pull-left" readonly="readonly" placeholder="结束时间" />
								</div>
							</div>
						</li>
						
						<li>
							<span class="add-title">地点</span>
							<div class="ckb-dizi">
								<div class="form-select">
									<ui-select ng-model="Campus.selectCampusitem" theme="bootstrap" ng-change="changeselect(0)">
										<ui-select-match placeholder="选择校区">{{$select.selected.Campusname}}</ui-select-match>
										<ui-select-choices repeat="item in Campus.Campuslist | filter: $select.search">
											<div ng-bind-html="item.Campusname | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
								
								<div class="form-select">
									<ui-select ng-model="building.selectbuildingitem" theme="bootstrap" ng-change="changeselect(1)">
										<ui-select-match placeholder="选择楼栋">{{$select.selected.Buildingname}}</ui-select-match>
										<ui-select-choices repeat="item in building.buildinglist | filter: $select.search">
											<div ng-bind-html="item.Buildingname | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
								
								<div class="form-select">
									<ui-select ng-model="floors.selectfloorsitem" theme="bootstrap">
										<ui-select-match placeholder="选择楼层">{{$select.selected.Floorname}}</ui-select-match>
										<ui-select-choices repeat="item in floors.floorslist | filter: $select.search">
											<div ng-bind-html="item.Floorname | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
								
								
							</div>
						</li>
						
						<li>
							<span class="add-title">课程名称</span>
							<div>
						        <input class="form-control" type="text" ng-model="form.Search"  placeholder="搜索课程名称"/>
							</div>
						</li>
						
						
						<div class="wrapper-md text-right">
							<button class="btn w-xs btn-info" ng-click="searchpost()" submit-timeout>查找</button>
						</div>
						
						
						
						
					</ul>
				</div>
			</div>
			
			
			<div class="panel panel-default">
				<div class="panel-heading">
				</div>
				<div>
					<table class="table m-b-none" ui-jq="footable" data-sorting="false" data-stop-propagation="false" data-paging="false">
						<thead>
							<tr>
								<th width="30"></th>
								<th data-toggle="true">日期时间</th>
			                    <th>课程名称</th>
			                    <th data-hide="phone,tablet">章节名称</th>
			                    <th data-hide="phone,tablet">地点</th>
			                    <th>班级</th>
			                    <th>授课老师</th>
			                    <th>状态</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in getcurriculumsList">
								<td>{{$index + 1 + (backPage.PageIndex - 1) * backPage.PageSize}}</td>
			                    <td>{{item.Begindate.substr(0,10) + " " + item.Begindate.substr(11,5) + "-" + item.Enddate.substr(11,5)}}</td>
			                    <td>{{item.Curriculumname}}</td>
			                    <td>{{item.Chaptername}}</td>
			                    <td>{{item.Campusname}}-{{item.Buildingname}}-{{item.Classroomsname}}</td>
			                    <td>{{item.Classesname}}</td>
			                    <td>{{item.Truename}} </td>
			                    <td><span ng-if="item.State==0">未上课</span><span ng-if="item.State==1">上课中</span> <span ng-if="item.State==2">已结束</span>  </td>
			                </tr>
			                <tr ng-if="getcurriculumsList.length < 1">
			                    <td colspan="30" class="text-center">无数据</td>
			                </tr>
		                
						</tbody>
						<tfoot class="">
							<tr>
								<td colspan="30" class="text-center">
									<!--分页-->
									<div class="text-center" foo-pagination></div>
								</td>
							</tr>
						</tfoot>
					</table>
					
					<div class="clear"></div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>







