.login{font-family: "微软雅黑";}
.login-body{position: absolute;min-height: 100%;height: auto;width: 100%;padding-bottom: 80px;}
.login-body .ch-container{position: absolute;min-height: 100%;height: auto;width: 100%;background: url(../img/login/bg.jpg) no-repeat;background-size: 100% 100%;}
.login-body .login-main{margin-top: 7%;margin-bottom: 20px;}
.login .login-logo{height: 150px; text-align: center;}
.login .login-logo img{width: auto; height: 100%;}
.login .login-form{width: 455px; margin: 0 auto; margin-top: 50px;background-color: #D9EEF5;border: solid 1px #D9EEF5;}
.login .login-form .form-name{width: 358px; height: 44px; margin: 0 auto;margin-top: 75px;padding: 4px; border: 1px solid #0074DA; }
.login .login-form .form-name i{float: left;}
.login .login-form .form-name input{float: left;width: 290px; height: 34px;line-height: 34px;padding: 0 5px; border: 0;border-radius: 0;outline: 0;background-color: transparent;font-size: 18px;}
.login .login-form .form-pwd{width: 358px; height: 44px; margin: 0 auto;margin-top: 58px;padding: 4px;border: 1px solid #0074DA; }
.login .login-form .form-pwd i{float: left;}
.login .login-form .form-pwd input{float: left;width: 290px; height: 34px;line-height: 34px;padding: 0 5px; border: 0;border-radius: 0;outline: 0;background-color: transparent;font-size: 18px;}
.login .login-form .form-err{height: 52px;width: 358px; margin: 0 auto; text-align: center;padding: 10px 0;}
.login .login-form .form-btn{width: 358px; height: 44px; margin: 0 auto;margin-bottom: 80px; background-color: #0275DB;text-align: center;}
.login .login-form .form-btn input{display: block;width: 358px; height: 44px;line-height: 44px;border: 0;border-radius: 0;outline: 0;background-color: transparent;font-size: 18px;color: #fff;}

.m-copyright{height: 80px;}
.m-copyright .copyright{position: absolute;bottom: 0;left: 0; width: 100%; height: 80px; text-align: center;padding: 30px 0; font-size: 14px; color: #fff; }
.m-copyright .copyright a{color: #fff;}

/*   input   */
.login .login-form input:-webkit-autofill {
	background-color: #D9EEF5;
	background-image: none;
	color: #000;
}
.login .login-form input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #D9EEF5 inset;}

/*    icon    */
.icon-user{display: block;width: 35px; height: 35px; background: url(../img/login/user.png) no-repeat;}
.icon-pwd{display: block;width: 35px; height: 35px; background: url(../img/login/pwd.png) no-repeat;}
