body{
    background-color: #ffffff;
    font-size: 14px;
}
.header{
    background-image: url("../img/bg1.png");
    background-size: cover;
    height:48px;
    color:white;
    padding:10px;
}
.list{

    margin-top: 80px;
    margin-bottom:26px ;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}


.title{
    font-size: 36px;

}


.classroomimg{
    width:100px;
    height:86px;
}
.classroomname{
    font-family: arail;
    font-size: 16px;
}
.classroominfodiv{
    margin-left: 15px;
}
.titletext{
    font-family: arail;
    font-size: 18px;
    font-weight: bold;
}

.returnimg{
    height:20px;
    width:36px;
    padding-top: 1px;
}

.statusimg{
    width: 80%;

}
.table{
    width:80%;
    margin:0 auto;
}
.wifiimg{
    height:24px;
    width:24px;
}


.footer button{
    width:120px;
    height:36px;
}


.offline{
    background-color: #CDCAC9;
}
.online{
    background-color: #00D26D;
}

.gray{
    filter: Alpha(opacity=10);-moz-opacity:.1;opacity:0.1;
}
.center-vertical1 { position:relative; top:50%; transform:translateY(-50%); }

.btn{width:100px;}

.status{
    float:right;
    position:relative;
    right: 45px;
    top:0;
}