<div class="g-modal m-modal-classroom">
	<div class="g-modal-header">
		<span>{{form.add.title}}</span>
		<i class="header-line"></i>
		<div class="modal-close hidden" ng-click="cancel()"><i class="icon-close-modal"></i></div>
	</div>
	<div class="g-modal-body m-modal-classroom-body" image-controller="">
		<div class="m-modal-unslider" un-slider ui-options="{autoplay: false,speed:300,arrows: false,index:modal_tab-1}">
			<ul>
				<!--   1   -->
				<li>
					<table>
						<tr>
							<th class="text-center" colspan="2">故障申报</th>
						</tr>
						<tr>
							<td><i class="fa f-required"></i>设备位置</td>
							<td>
								<div class="m-3" ng-if="fault1[0]"><input class="form-input none" ng-model="form.add.DeviceSite" ng-click="modalOpenClassroom()" type="text" placeholder="选择位置" readonly="readonly" /></div>
								<div class="m-3" ng-if="fault1[1]"><input class="form-input" ng-model="form.add.DeviceSite" type="text" placeholder="选择位置" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td><i class="fa f-required"></i>故障设备</td>
							<td>
								<div class="m-3" ng-if="fault1[0]">
									<select class="form-input none" ng-model="form.add.DeviceId" ng-change="changeSelect('deviceid')">
										<option value="">选择设备</option>
										<option value="{{item.DeviceId}}" ng-selected="item.DeviceId == form.add.DeviceId" ng-repeat="item in form.add.DeviceItems">{{item.DeviceName}}</option>
									</select>
								</div>
								<div class="m-3" ng-if="fault1[1]">
									<input class="form-input" ng-model="form.add.DeviceName" type="text" placeholder="故障设备名称" readonly="readonly" />
								</div>
							</td>
						</tr>
						<tr>
							<td><i class="fa f-required"></i>故障现象</td>
							<td>
								<div class="m-3 form-input-select" ng-if="fault1[0]" ng-mouseleave="Mouseleaves()">
									<input class="form-input" ng-model="form.add.FaultSummary" ng-click="ToggleClick()" type="text" placeholder="输入故障现象" />
									<ul class="form-input-select-body" ng-class="{'show':hover}">
										<li ng-click="FaultSummaryClick(item)" ng-repeat="item in form.add.FaultSummaryItems"><a>{{item.Name}}</a></li>
									</ul>
								</div>
								<div class="m-3" ng-if="fault1[1]"><input class="form-input" ng-model="form.add.FaultSummary" type="text" placeholder="输入故障现象" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td><i class="fa f-required off"></i>故障描述</td>
							<td>
								<div class="m-3" ng-if="fault1[0]"><textarea class="form-input" ng-model="form.add.FaultDescription" placeholder="输入故障描述" style="resize: none;" ></textarea></div>
								<div class="m-3" ng-if="fault1[1]"><textarea class="form-input" ng-model="form.add.FaultDescription" placeholder="输入故障描述" style="resize: none;" readonly="readonly"></textarea></div>
							</td>
						</tr>
						<tr>
							<td>设备是否可用</td>
							<td>
								<div class="m-3" ng-if="fault1[0]">
									<select class="form-input none" ng-model="form.add.IsCanUse">
										<option value="0">不可使用</option>
										<option value="1">可以使用</option>
									</select>
								</div>
								<div class="m-3 form-input" ng-if="fault1[1]">
									<span ng-if="form.add.IsCanUse == 0">不可使用</span>
									<span ng-if="form.add.IsCanUse == 1">可以使用</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>故障发生时间</td>
							<td>
								<div class="m-3" ng-if="fault1[0]"><input class="form-input none" ng-model="form.add.HappenTime" id="happentime" ng-click="showDate()" type="text" placeholder="选择故障发生时间" readonly="readonly" /></div>
								<div class="m-3" ng-if="fault1[1]"><input class="form-input" ng-model="form.add.HappenTime" type="text" placeholder="选择故障发生时间" readonly="readonly" /></div>
							</td>
						</tr>
						<tr ng-if="addStatus">
							<td>申报时间</td>
							<td>
								<div class="m-3" ng-if="fault1[0]"><input class="form-input none" ng-model="form.add.InputTime" id="inputtime" ng-click="showDate2()" type="text" placeholder="选择故障申报时间" readonly="readonly" /></div>
								<div class="m-3" ng-if="fault1[1]"><input class="form-input" ng-model="form.add.InputTime" type="text" placeholder="选择故障申报时间" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td>申报人</td>
							<td>
								<div class="m-3"><input class="form-input" ng-model="form.add.InputUserName" type="text" placeholder="输入故障申报人" readonly="readonly" /></div>
							</td>
						</tr>
						<tr ng-if="addStatus">
							<td>提交时间</td>
							<td>
								<div class="m-3" ng-if="fault1[0]"><input class="form-input" ng-model="form.add.SubmitTime" type="text" placeholder="" readonly="readonly" /></div>
								<div class="m-3" ng-if="fault1[1]"><input class="form-input" ng-model="form.add.SubmitTime" type="text" placeholder="选择故障提交时间" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td>故障状态</td>
							<td>
								<div class="m-3 form-input">
									<span ng-if="form.add.Status == 0">草稿</span>
									<span ng-if="form.add.Status == 1">待受理</span>
									<span ng-if="form.add.Status == 2">维修中</span>
									<span ng-if="form.add.Status == 3">已维修</span>
								</div>
							</td>
						</tr>
					</table>
					<div class="g-modal-footer" ng-class="{'details':details}">
						<div class="m-modal-tab-btn clearfix" ng-class="{active:modal_tab == 1}" ng-if="addStatus == false || items[0].Status == 0">
							<div class="col-xs-4"><a class="btn btn-kcgl-add" ng-click="cancel()">取消</a></div>
							<div class="col-xs-4"><a class="btn btn-kcgl-add" ng-click="ok('save','11')">暂存</a></div>
							<div class="col-xs-4"><a class="btn btn-kcgl-add" ng-click="ok('submit','12')">提交</a></div>
						</div>
					</div>
				</li>
				<!--   2   -->
				<li>
					<table>
						<tr>
							<th class="text-center" colspan="2">故障受理</th>
						</tr>
						<tr>
							<td>受理时间</td>
							<td>
								<div class="m-3"><input class="form-input" ng-model="form.add.AcceptanceTime" type="text" placeholder="< 提交后系统自动生成 >" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td>受理人</td>
							<td>
								<div class="m-3"><input class="form-input" ng-model="form.add.AcceptanceUserNameHTML" type="text" placeholder="受理人" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td><i class="fa f-required"></i>指定维修人</td>
							<td>
								<div class="m-3" ng-if="fault2[0]"><input class="form-input" ng-model="form.add.AcceptanceRepairPerson" type="text" placeholder="输入维修人" /></div>
								<div class="m-3" ng-if="fault2[1]"><input class="form-input" ng-model="form.add.AcceptanceRepairPerson" type="text" placeholder="输入维修人" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td><i class="fa f-required"></i>维修人电话</td>
							<td>
								<div class="m-3" ng-if="fault2[0]"><input class="form-input" ng-model="form.add.AcceptanceRepairPersonTel" maxlength="11" type="text" placeholder="输入维修人联系电话" /></div>
								<div class="m-3" ng-if="fault2[1]"><input class="form-input" ng-model="form.add.AcceptanceRepairPersonTel" maxlength="11" type="text" placeholder="输入维修人联系电话" readonly="readonly" /></div>
							</td>
						</tr>
					</table>
					<div class="g-modal-footer" ng-class="{'details':details}">
						<div class="m-modal-tab-btn clearfix" ng-class="{active:modal_tab == 2}" ng-if="items[0].Status == 1">
							<div class="col-xs-6"><a class="btn btn-kcgl-add" ng-click="cancel()">取消</a></div>
							<div class="col-xs-6"><a class="btn btn-kcgl-add" ng-click="ok('acceptance','21')">受理</a></div>
						</div>
					</div>
				</li>
				<!--   3   -->
				<li>
					<table>
						<tr>
							<th class="text-center" colspan="2">维修登记</th>
						</tr>
						<tr>
							<td><i class="fa f-required"></i>完成时间</td>
							<td>
								<div class="m-3" ng-if="fault3[0]"><input class="form-input none" ng-model="form.add.RepairFinishTime" id="repairfinishtime" ng-click="showDate3()" type="text" placeholder="选择维修完成时间" readonly="readonly" /></div>
								<div class="m-3" ng-if="fault3[1]"><input class="form-input" ng-model="form.add.RepairFinishTime" type="text" placeholder="选择维修完成时间" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td>维修登记人</td>
							<td>
								<div class="m-3"><input class="form-input" ng-model="form.add.RepairInputUserNameHTML" type="text" placeholder="维修登记人" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td>维修人</td>
							<td>
								<div class="m-3" ng-if="fault3[0]"><input class="form-input" ng-model="form.add.RepairPerson" type="text" placeholder="输入维修人" /></div>
								<div class="m-3" ng-if="fault3[1]"><input class="form-input" ng-model="form.add.RepairPerson" type="text" placeholder="输入维修人" readonly="readonly" /></div>
							</td>
						</tr>
						<tr>
							<td>故障分类</td>
							<td>
								<div class="m-3 form-input-select2" ng-if="fault3[0]" ng-mouseleave="Mouseleaves()">
									<div class="form-input form-input-span clearfix" ng-click="ToggleClick()">
										<a style="color: rgba(255,255,255,0.6);" ng-if="form.add.RepairFaultType.length < 1">选择故障类型</a>
										<span ng-repeat="item in form.add.RepairFaultType">{{item.FaultTypeName}}<i ng-click="faultTypeClick(item,'item')" class="fa fa-times"></i></span>
									</div>
									<ul class="form-input-list" ng-class="{'show':hover}">
										<li ng-repeat="item in form.add.RepairFaultTypeItems | filter:{'show':'true'}" ng-click="faultTypeClick(item,'items')"><a>{{item.FaultTypeName}}</a></li>
									</ul>
								</div>
								<div class="m-3 form-input-select2" ng-if="fault3[1]">
									<div class="form-input form-input-span">
										<a style="color: rgba(255,255,255,0.6);" ng-if="form.add.RepairFaultType.length < 1">选择故障类型</a>
										<span ng-repeat="item in form.add.RepairFaultType">{{item.FaultTypeName}}</span>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>维修描述</td>
							<td>
								<div class="m-3" ng-if="fault3[0]"><textarea class="form-input" ng-model="form.add.RepairDescription" style="resize: none;" placeholder="输入维修描述"></textarea></div>
								<div class="m-3" ng-if="fault3[1]"><textarea class="form-input" ng-model="form.add.RepairDescription" style="resize: none;" placeholder="输入维修描述" readonly="readonly"></textarea></div>
							</td>
						</tr>
						<tr>
							<td>维修结果</td>
							<td>
								<div class="m-3" ng-if="fault3[0]">
									<select class="form-input none" ng-model="form.add.RepairResult">
										<option value="1" ng-selected="form.add.RepairResult == 1">未修复</option>
										<option value="2" ng-selected="form.add.RepairResult == 2">已修复</option>
									</select>
								</div>
								<div class="m-3 form-input" ng-if="fault3[1]">
									<span ng-if="form.add.RepairResult == 1">未修复</span>
									<span ng-if="form.add.RepairResult == 2">已修复</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>设备是否可用</td>
							<td>
								<div class="m-3" ng-if="fault3[0]">
									<select class="form-input none" ng-model="form.add.RepairIsCanUse">
										<option value="0">不可用</option>
										<option value="1">可以使用</option>
									</select>
								</div>
								<div class="m-3 form-input" ng-if="fault3[1]">
									<span ng-if="form.add.RepairIsCanUse == 0">不可用</span>
									<span ng-if="form.add.RepairIsCanUse == 1">可以使用</span>
								</div>
							</td>
						</tr>
					</table>
					<div class="g-modal-footer" ng-class="{'details':details}">
						<div class="m-modal-tab-btn clearfix" ng-class="{active:modal_tab == 3}" ng-if="items[0].Status == 2">
							<div class="col-xs-4"><a class="btn btn-kcgl-add" ng-click="cancel()">取消</a></div>
							<div class="col-xs-4"><a class="btn btn-kcgl-add" ng-click="ok('save','31')">暂存</a></div>
							<div class="col-xs-4"><a class="btn btn-kcgl-add" ng-click="ok('submit','32')">维修</a></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>