<div ui-view>
	<div class="m-jdpz">
		<div class="m-breadcrumb">
			<!--  w-breadcrumb 面包屑  -->
			<ul class="breadcrumb" w-breadcrumb></ul>
		</div>
		<div class="wrapper-lg">
			<div class="panel panel-default">
				<div class="panel-heading">
					状态命令
					<div class="table-h-btn pull-right">
						<button tabindex="2" class="btn b-w-rs w-xs btn-info pull-left" ng-click="openModalAddMl('add')">添加</button>
					</div>
					<div class="table-h-search pull-right col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="form.KeyWord" ng-keyup="sbgzKeyup($event)" placeholder="输入查询关键词">
							<span class="input-group-btn">
                  			<button class="btn btn-sm btn-default" type="button" ng-click="searchPost()" submit-timeout>
                    			<i class="fa fa-search"></i>
                			</button>
				       		</span>
						</div>
					</div>
					<div class="table-h-location pull-right location  col-sm-2">
						<input type="text" class="form-control" ng-model="form.ModelName" readonly="readonly" placeholder="选择设备型号" ng-click="modalOpenDevice()" />
					</div>
				</div>
				<div>
					<table class="table m-b-none" ui-jq="footable" data-sorting="false" data-stop-propagation="false" data-paging="false">
						<thead>
							<tr>
								<th width="30"></th>
								<th data-toggle="true">设备型号</th>
								<th data-hide="phone,tablet">状态编码</th>
								<th>状态名称</th>
								<th data-hide="phone,tablet">状态序号</th>
								<th data-hide="phone,tablet">命令负载</th>
								<th data-hide="phone,tablet">状态值匹配串</th>
								<th>开关状态标志</th>
								<th data-hide="phone,tablet">开启状态值</th>
								<th>关闭状态值</th>
								<!--<th>将状态值转换为名称</th>-->
								<th>状态值设置</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in ModelItems">
								<td>{{$index + 1 + (backPage.PageIndex - 1) * backPage.PageSize}}</td>
								<td>{{item.ModelName}}</td>
								<td>{{item.StatusCode}}</td>
								<td>{{item.StatusName}}</td>
								<td>{{item.SeqNo}}</td>
								<td>{{item.Payload}}</td>
								<td>{{item.StatusValueMatchString}}</td>
								<td>
									<span ng-if="item.SwitchStatusFlag == '0'"><span class="label bg-info">否</span></span>
									<span ng-if="item.SwitchStatusFlag == '1'"><span class="label bg-info">是</span></span>
									<span ng-if="item.SwitchStatusFlag != '0' && item.SwitchStatusFlag != '1'">{{item.SwitchStatusFlag}}</span>
								</td>
								<td>
									<span ng-if="item.OnValue == '0'">关</span>
									<span ng-if="item.OnValue == '1'">开</span>
									<span ng-if="item.OnValue != '0' && item.OnValue != '1'">{{item.OnValue}}</span>
								</td>
								<td>
									<span ng-if="item.OffValue == '0'">关</span>
									<span ng-if="item.OffValue == '1'">开</span>
									<span ng-if="item.OffValue != '0' && item.OffValue != '1'">{{item.OffValue}}</span>
								</td>
								<!--<td>{{item.SelectValueFlag}}</td>-->
								<td>
									<a ui-sref="app.sbgl.sbpz.ztml.code({'mid':item.ModelId,'code':item.StatusCode,'code_name':item.StatusName})">{{item.StatusName}}</a>
								</td>
								<td>
									<div class="btn-group dropdown" dropdown="">
										<button class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a ng-click="openModalAddMl('look',item)">查看</a>
											</li>
											<li>
												<a ng-click="openModalAddMl('edit',item)">修改</a>
											</li>
											<li>
												<a ng-click="deleteItem(item)">删除</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr ng-if="ModelItems.length < 1" class="ta-c">
								<td colspan="30" class="text-center">无数据</td>
							</tr>
						</tbody>
						<tfoot class="">
							<tr>
								<td colspan="30" class="text-center">
									<!--分页-->
									<div class="text-center" foo-pagination></div>
								</td>
							</tr>
						</tfoot>
					</table>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>











