<div class="m-kqjz m-kqtj">
	<div class="kqjz-header">
		<span>班级出勤统计</span>
		<div>
		</div>
	</div>
	<div class="kqjz-main">
		<div class="kqtj-list xhgl-table clearfix">
			<ul class="table-header clearfix">
				<li><span class="text-ellipsis">课程名称</span></li>
				<li><span class="text-ellipsis">班级</span></li>
				<li><span class="text-ellipsis">日期</span></li>
				<li><span class="text-ellipsis">时间</span></li>
				<li><span class="text-ellipsis">应到</span></li>
				<li><span class="text-ellipsis">实到</span></li>
				<li><span class="text-ellipsis">出勤率</span></li>
				<li><span class="text-ellipsis">操作</span></li>
			</ul>
			<ul class="table-body">
				<li ng-repeat="item in kqtj_items" class="tr" ng-class="{'active':item.bul}">
					<ul class="body-header" ng-class="{'bg-color':!isLeaf(item.Id)}">
						<li ng-click="isOpen(item)">
							<a class="xhgl-tree" ng-class="{'active':item.bul}"><i class="fa" ng-class="{'bole':!isLeaf(item.Id),'leaf':isLeaf(item.Id)}"></i><span>{{item.Curriculumname}}</span></a>
						</li>
						<li>-</li>
						<li>-</li>
						<li>-</li>
						<li>-</li>
						<li>-</li>
						<li>{{item.Toclassrate * 100 | number:2}}<span ng-if="item.Toclassrate">%</span></li>
						<li>
							<a class="hidden">查看</a>
						</li>
					</ul>
					<ul class="td-main">
						<li ng-repeat="item2 in item.Infos" class="tr" ng-class="{'active':item2.bul}">
							<ul class="body-header" ng-class="{'bg-color':!isLeaf(item2.Id)}">
								<li ng-click="isOpen(item2)">
									<a class="xhgl-tree"><em></em><i class="fa" ng-class="{'bole':true,'leaf':true}"></i><span>{{item2.Chaptername}}</span></a>
								</li>
								<li>{{item2.Classesname}}</li>
								<li>{{item2.Begindate | limitTo:10}}</li>
								<li>{{item2.Begindate.substr(11,5) + '-'}}{{item2.Enddate.substr(11,5)}}</li>
								<li>{{item2.Plannumber}}</li>
								<li>{{item2.Actualnumber}}</li>
								<li>{{item2.Toclassrate * 100 | number:2}}<span ng-if="item.Toclassrate">%</span></li>
								<li ng-click="opendet(item2)">
									<a>查看</a>
								</li>
							</ul>
							
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="kqjz-page hidden">
			<ul class="pagination">
				<li class="footable-page-arrow">
					<a data-page="first" href="#first">«</a>
				</li>
				<li class="footable-page-arrow">
					<a data-page="prev" href="#prev">‹</a>
				</li>
				<li class="footable-page active">
					<a data-page="0" href="#">1</a>
				</li>
				<li class="footable-page">
					<a data-page="1" href="#">2</a>
				</li>
				<li class="footable-page-arrow">
					<a data-page="next" href="#next">›</a>
				</li>
				<li class="footable-page-arrow">
					<a data-page="last" href="#last">»</a>
				</li>
			</ul>
		</div>
	</div>
</div>